[2021-06-29 23:31] #91 closed

[2021-06-29 23:41] #239 closed

[2021-06-29 23:43] rcmaehl commented on #233
Closing as there's no other reason it could be giving that value.

[2021-06-29 23:43] #233 closed

[2021-06-30 00:53] Gitoffthelawn commented on #90
Thank you.  Yes, it's very readable... plus, I no longer remember exactly why, but I learned AutoIt when it was first released years ago.  It's a rather fun tool for which to write code.

As an aside, one reason why I chose your project as a potential recommendation is because the UI is well done.  Good job!

[2021-06-30 00:53] Gitoffthelawn commented on #90
I'm going to close this now because all questions are answered.  Feel free to re-open if there is a need.

[2021-06-30 00:53] #90 closed

[2021-06-30 01:36] htcfreek commented on #162
1. We don't want to implement PowerShell code. It's only an example written in Powershell.
2. Why do you think my code will return always false? (It's only false if the disk with your system drive is not GPT.)

[2021-06-30 01:40] hayye opened #265 "提示不支持DX12"
![IHOR0BRJ_5QN_FZ)~DYVZE](https://user-images.githubusercontent.com/30612116/123888891-04d7dc80-d987-11eb-854e-72544a0c70b6.png)
![%HA0BT4Y9U7F3XUK(XV2RP7](https://user-images.githubusercontent.com/30612116/123888895-06a1a000-d987-11eb-9c44-c9167e4052fa.png)
在DirectX诊断工具中检查是DX12的

[2021-06-30 01:44] rcmaehl commented on #265
翻译：请选择“保存所有信息”并附上它保存的文件

[2021-06-30 01:48] hayye commented on #265
[DxDiag.txt](https://github.com/rcmaehl/WhyNotWin11/files/6737453/DxDiag.txt)

[2021-06-30 01:55] HanHan233 commented on #233
![image](https://user-images.githubusercontent.com/64469437/123890121-4d909500-d989-11eb-9492-e930deb51bf4.png)
It's OK now , thank you!

[2021-06-30 02:10] rcmaehl commented on #265
翻译：看来 DDI 版本正在报告 11。
`DDI Version: 11.1`
我会为未来的版本制作一个补丁

[2021-06-30 04:01] TayouVR opened #268 "Respect windows theme background color or hard code font color"
I have a custom windows theme installed. The font color gets applied, but the background not. therefore text in some places is a bit harder to read.
![image](https://user-images.githubusercontent.com/31988415/123899881-545ae000-d968-11eb-88fb-8cdc6d9aa07b.png)
Fetching the actual theme background color would be optimal, but just hard setting font color to black would work too.
Particularly on the

[2021-06-30 04:54] shark873 commented on #261
Better, but still blocks some text on PT-BR(Brazilian Portuguese) language as you can see below \/ on the CPU part.

![WhyNotWin11_2021-06-30_01-50-59](https://user-images.githubusercontent.com/10945499/123903986-1351d400-d946-11eb-9f4a-5568f1f6b070.png)

[2021-06-30 04:59] rcmaehl commented on #261
The issue with text will to be fixed by the translator. EIther by adjusting font size for the translation or replacing the text with a shorter alternative

[2021-06-30 05:03] shark873 commented on #261
Thx,..

I also saw that there will be a language selector in version 3.0, that will also solve the issue for me.

[2021-06-30 05:04] DanGM96 commented on #261
Actually it is already fixed, but when using dev builds you should go to `C:\Users\YOUR-USERNAME\AppData\Local\WhyNotWin11` and delete the `\Langs` folder so the software can insert the new files.
This happens because the files are only updated when the version changes, and we've been using that same version for testing.

[2021-06-30 05:06] shark873 commented on #261
Thx for letting me know that, will do it and check again :D

[2021-06-30 05:06] Oleg-Chashko commented on #261
Thx,.. Ok.

[2021-06-30 05:14] #265 closed

[2021-06-30 06:55] IvanAclu opened #270 "x64 and x86 not giving same DirectX result"
When I run 2.3.0.1 x64 and x86 executables on my 64 bit PC.
x64 displays, "DirectX 12 & WDDM 2".
x86 displays, "No DirectX 12, but WDDM 2".

[2021-06-30 07:13] Oleg-Chashko opened #271 "Improving the user interface"
Desirable, but not necessary.
The interface will be, more symmetrical and more beautiful.

1. Replace the letter "X" with a cross and a smaller size.
2. Double lines of text, require vertically alignment.
3. Preferably a horizontal line.
4. Align "Localization Author" data vertically.
5. Group the icons, down vertically.
6. Lift up, header text.

**Currently:**
<img width="555" alt="Screen Shot #2

[2021-06-30 07:22] hajubu commented on #162
Sample PS-Code  Only - YES - implementation in WhynotWin11 to avoid in general.

      Probavly - I was trapped in my Mockup Test environment .
         Testing again showed YOU are right .

     I try to dig deeper in the case for a better support of the task.
     Sorry for the misleading comments.
b.r. Hajubu

[2021-06-30 08:10] PierreGrillet commented on #271
4. should not be reduced to a single line : if there are multiple translators, their name will be warp in two lines. Yet it would be nice that the first line was aligned with the CPU description line.

[2021-06-30 08:21] Oleg-Chashko commented on #271
To put it simply, I don't understand why the names of the translators are written here.
Make an "About" button and put everyone who participated in this project there, if that's what the author of the program wants.

[2021-06-30 08:35] PierreGrillet commented on #271
That make sense.

[2021-06-30 08:49] bastianfbr opened #275 "Optimize text length and reduce size"
The title and some fields have a lot of words, even though it is quite understandable, not everything is displayed well.

The font size should be optimized according to the length of the text.

--> Title, fields (left and right), updates (bottom right) and translation note next to it
![image](https://user-images.githubusercontent.com/29505634/123931455-cf37f100-d990-11eb-9a57-f08987356688.png)

[2021-06-30 10:03] PierreGrillet commented on #275
The French text have already been fixed with #226.
I agree with you for the font size optimization. However it seems it is not the priority.

[2021-06-30 10:18] m4ttyj opened #280 "Package release version in Zip file for easier download"
Would it be possible to have the most recent version available in a ZIP file. With this app becoming more prominent due to media and blogs etc (Which is great), more and more none-technical users are downloading it.

Some browsers (inc edge) will block the download of the EXE because its unsigned, leading users to believe they are downloading something dangerous. A Zip file would get round this.

[2021-06-30 10:19] m4ttyj commented on #280
![Screenshot 2021-06-30 111844](https://user-images.githubusercontent.com/13242159/123944360-f55f9000-d994-11eb-9162-50e09899b563.png)

[2021-06-30 10:22] micwoj92 commented on #275
@bastianfbr
open %localappdata%\WhyNotWin11\langs\version in notepad and set it to 0.0.0.0. Then download latest dev change and test.

@PierreGrillet @bastianfbr
Open prs for changes in translation. It is now possible to change font settings in translation files.

[2021-06-30 10:22] #275 closed

[2021-06-30 10:29] micwoj92 commented on #280
This will be easy to do in CI, just need approval from @rcmaehl because it changes the way we release, so his word and decission on this is final.

[2021-06-30 10:44] mlipok commented on #280
it was disscused here:
https://github.com/rcmaehl/WhyNotWin11/discussions/274#discussioncomment-942636

[2021-06-30 10:50] micwoj92 commented on #280
@mlipok now I understand, please open another issue for that with detailed description as this is not the same as this one mentioned here. Could you also post screenshot of your version if you post new post?

[2021-06-30 10:55] Sap1k commented on #248
By the way, this worked for me to fix Czech strings.

[2021-06-30 10:59] micwoj92 commented on #248
I think we need some sort of quick-fixes.md or something with fixes for common issues like these.

[2021-06-30 11:09] peterlukerow opened #282 "Another DX12 detection issue"
In the previous version the disk partition type passed and said GPT was detected. On this new version the same check on the same machine fails saying GPT not detected.

I have 3 drives connected to computer 2 x SSD (C and D) and external USB drive (F).
According to Windows disk management tool C - which is the windows/boot drive - is GPT partition type and D and F are MBR and don't the option to c

[2021-06-30 11:13] PierreGrillet commented on #275
@micwoj92 Can you please tell me more about the font option ? Is there an example ?

[2021-06-30 11:25] micwoj92 commented on #282
Could you test with latest test version? Link in readme

[2021-06-30 11:27] micwoj92 commented on #275
https://github.com/rcmaehl/WhyNotWin11/commit/c44fda4b5535ff0f4b7fd644142b5cd7e42add10
This commit added this, I haven't tested myself but I think that if you add one of these to your translation:
![image](https://user-images.githubusercontent.com/45581170/123952862-de299e00-d9a6-11eb-8ca8-5b7e50790385.png)

then it should work. But I am unsure about syntax. I think best to wait until @rcmaehl see

[2021-06-30 11:36] XUTOS83 commented on #49
Bkav Pro
W32.FamVTAppLQNE.Trojan

Sophos
Generic ML PUA (PUA)

Palo Alto Networks
Generic.ml

https://www.virustotal.com/gui/file/4505a6ed4a5f8a7401d17f76ee8ba73340de5e2905fee2c6c8551d0852d29e9c/detection

[2021-06-30 11:46] fiftydinar commented on #282
Test version fixed the GPT detection, but it broke WDDM detection.

Test version on the left, stable version on the right.
![Clipboarder 2021 06 30](https://user-images.githubusercontent.com/65243233/123955118-8b051a80-d9a9-11eb-83e9-8334cabf617b.png)

[2021-06-30 11:46] TayouVR commented on #268
![image](https://user-images.githubusercontent.com/31988415/123954517-c81cdd00-d9a8-11eb-9b07-113552e97282.png)
perfect. didn't expect such a fast response. Now the text on the squares needs to be.. solid black? or white? or tied to the square color maybe, some kind of complementary color?

And I guess the icons on the left theoretically need to be changed too, but that doesn't really matter and m

[2021-06-30 11:52] MarioMarietto commented on #248
Hey! Update: I've managed to get the issue fixed!
First of all, I was probably doing something wrong when trying to force the Italian Translation. This worked for me:
[code]
(before I was using)
[code]
(where "D:\0410.lang" was the location of the translation file)

Then I've deleted every file in %LocalAppData%\WhyNotWin11 and I've restarted the tool. And this somehow fixed the issue! I'm sorry,

[2021-06-30 11:55] micwoj92 commented on #282
Could you attach output of dxdiag as dxdiag.txt? The DX12 detection was changed recently.

[2021-06-30 11:57] micwoj92 commented on #248
Thank you for confirming.

[2021-06-30 11:57] #248 closed

[2021-06-30 11:59] micwoj92 commented on #282
I've changed title accordingly.

[2021-06-30 12:14] micwoj92 commented on #77
@LoreBadTime what is exactly your issue here? WNW11 already shows both CPU + currently installed OS bits.

[2021-06-30 12:33] rcmaehl commented on #282
"Another DX12 detection issue" 😔

[2021-06-30 12:53] micwoj92 commented on #282
Rewrite to support Vulkan

[2021-06-30 12:57] rcmaehl commented on #282
~~Vulkan~~ Romulan

[2021-06-30 13:06] LoreBadTime commented on #77
Yeah,but in a perfect world if a CPU supports 64 bits,you should be able to install windows with 64;and this happens on normal PCs,but because of Intel and win11 bullshit (EFI 32 on 64 machine) i will never be able to install it on my tablet,and this i think should be signalated in the program with a red advice.

[2021-06-30 13:15] rcmaehl commented on #268
@TayouVR Excuse the late reply. @micwoj92 generally handles issue routing and PRs. I skimmed over this past the initial report. I'll see if I can fix text too, but it's the same color as the rest of the text. And yeah, icons have been a pain because they're using fake transparency and I can't seem to fix it.

[2021-06-30 13:15] #268 closed

[2021-06-30 13:29] micwoj92 commented on #77
So is there additional things that WNW11 can do in this regard. Now your situation is: 64bit cpu and 32bit os. And wnw should properly show that. As you said, this is not common, so is it worth looking into? Is it even possible to detect 32 vs 64 bit uefi?

[2021-06-30 13:31] rcmaehl commented on #280
@micwoj92 Go ahead and zip it but it'll break some file mirror sites due to the file type change 😆

[2021-06-30 13:45] micwoj92 commented on #280
Zip exes separately or do same as CI with only one download?

[2021-06-30 13:47] rcmaehl commented on #280
1 Single Exe

[2021-06-30 13:50] clinche opened #290 "Hungarian translation is duplicated"
040E.lang and 1038.lang are different duplicates of Hungarian translation.
Which one should be kept ?

[2021-06-30 13:51] m4ttyj commented on #280
Maybe offer both. The open EXE and a ZIP?

[2021-06-30 13:53] micwoj92 commented on #280
Then I would do 1. unzipped exes 2. zipped everything, same as CI.

[2021-06-30 13:54] micwoj92 commented on #290
Hex, please ping translator(s) to discuss which translations are better.

[2021-06-30 14:01] clinche commented on #290
@Tudi20 & @bbence018 can you agree together on a definitive translation ?
Thanks a lot

[2021-06-30 14:07] pakass commented on #282
Same issue here. That's the DxDialog:

[DxDiag.txt](https://github.com/rcmaehl/WhyNotWin11/files/6741506/DxDiag.txt)

[2021-06-30 14:17] rcmaehl commented on #282
This is a known issue with the 760, and likely other cards that were released as DX11 and forced to "DX12 API"

You can see the issue on Nvidia's own website even:

https://www.nvidia.com/en-gb/geforce/graphics-cards/geforce-gtx-760/specifications/
vs
https://www.nvidia.com/en-us/geforce/graphics-cards/geforce-gtx-760/specifications/

What does GPU-Z say for this card?

[2021-06-30 14:57] rcmaehl commented on #270
Please upload the `save all information` files from

C:\Windows\System32\dxdiag.exe
C:\windows\SysWOW64\dxdiag.exe

I have a feeling that I need to restrict the executables to their native systems

[2021-06-30 15:09] rcmaehl commented on #280
SGTM

[2021-06-30 15:17] peterlukerow commented on #282
![image](https://user-images.githubusercontent.com/28951140/123986753-7d0dc480-d9be-11eb-8243-3ac62eb6ffa7.png)

Test results above, it now says 1/3 drives have GPT.  My Asus TPM 2.0 module arrived today and will install later so fingers crossed the TPM check will pass after that. DirectX is fine for me on GTX 2060, from above comments because it's not that old.

[2021-06-30 16:48] LoreBadTime commented on #77
There is a specific list of this processors,all of them are from Intel atom series,you can check from the list and then check the OS version,if the Os is 32 and has those infamous processors,it means that they cannot be upgraded,even if they have a 64 bit processor and respect all the requirements

[2021-06-30 17:01] IvanAclu commented on #270
DxDiag.txt x86 & x64 files as requested.

[DxDiag_x86.txt](https://github.com/rcmaehl/WhyNotWin11/files/6742693/DxDiag_x86.txt)
[DxDiag_x64.txt](https://github.com/rcmaehl/WhyNotWin11/files/6742694/DxDiag_x64.txt)

[2021-06-30 17:05] #280 closed

[2021-06-30 17:05] micwoj92 commented on #280
In future versions the published files will look like this
zip contains both .exe files and shasum file
![image](https://user-images.githubusercontent.com/45581170/124002323-e0efb780-d9d5-11eb-94c9-11f439988bf9.png)

[2021-06-30 17:15] micwoj92 commented on #77
Could you give this list? It will be much easier to implement then.

[2021-06-30 17:44] rcmaehl commented on #271
1. Sure
2. Can't do this as a multiline label control, might switch to flat buttons
3. Can't add a line on just the bottom without adding it to the right, or well, I might be able to as an image but it'd be janky
4. Will improve slightly but needs to be aligned with CPU Name because it can multiple multiple lines of Translators
5. Sure
6. Sure

[2021-06-30 17:47] micwoj92 commented on #271
_offtopic_
About 4. I think we need to standardize how people credit themselves, for example either real name or github username.

[2021-06-30 18:09] Oleg-Chashko commented on #271
@rcmaehl
Do as you see fit and possible. The main thing is that you like it.
The only thing I don't understand is point number 4. Why see the authors of the localization of the program?
For example, I did localization, just for fun, to help. Not so that my name would be in front of everyone, that's how good I am. :)

[2021-06-30 18:12] JardaCZE commented on #195
The default language should be English, the user can choose another language at the startup of the App.

[2021-06-30 18:17] micwoj92 commented on #271
Yeah, maybe better change authors to comments/metadata, in future some translation might get multiple authors so the UI will be really busy there.

[2021-06-30 18:29] rcmaehl commented on #282
Fixing this shortly to pass if either DDI or FeatureLevel is >=12

[2021-06-30 18:29] #282 closed

[2021-06-30 18:30] Oleg-Chashko commented on #271
I totally agree with you! (or about tab/page)

P.S.: Especially when the number of localization authors increases. It will look like a list of localizers who died translating this program. It may turn into a tombstone instead of a program. I hope you know what I mean. :)

[2021-06-30 18:47] thepwrtank18 commented on #66
The build from whynotwin11.com is now modified to have their own website instead of whynotwin11.org, and the logo changed to an "A" of some sort.

Updates are still via the GitHub repo.

[2021-06-30 18:52] rcmaehl commented on #66
![image](https://user-images.githubusercontent.com/716581/124015462-b3dddd80-d9b2-11eb-8650-4e934fdc7375.png)

I was gonna check but Avast had other plans

[2021-06-30 19:11] micwoj92 commented on #275
@PierreGrillet here updated
https://github.com/rcmaehl/WhyNotWin11/commit/9fb3bf65d05944b97c9e33060db611a8866fb77e

[2021-06-30 19:34] micwoj92 commented on #66
I suspect that "A" is just default AutoIt icon, that's EPIC FAIL :sunglasses:

[2021-06-30 19:44] rcmaehl commented on #66
I'll decompile it and take a look at their changes (if any)

[2021-06-30 20:20] iam-py-test commented on #66
@rcmaehl You should be able to override, or you can maybe use something like `curl`

[2021-06-30 21:20] WolvenSpectre commented on #55
Got latest.  Works great at 100, 115, and 150%.
Also I discovered weirdly enough a utility I am using that was having a display issue is now working at 150 and for some reason after my recent Nvidia Driver Update they are recommending I run at 150% default.  Strange... going to have to look into those two.

Thanks for the great utility I have been recommending it across YT comments and my socials

[2021-06-30 21:29] rcmaehl commented on #270
Odd, I'm not sure how x64 is getting different results. Please try the latest build

https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip

[2021-06-30 21:40] IvanAclu commented on #270
Both executables now give same result.
"No DirectX 12, but WDDM 2".
This seems to disagree with DxDiag, which says "DirectX Version: DirectX 12".

[2021-06-30 21:42] rcmaehl commented on #270
DirectX Version is for what version of DirectX your OS supports.

You have a UHD 4000, per TechPowerUp (creators of GPU-Z), you have DirectX 11 which matches DDI Version (11) and Feature Level 11

https://www.techpowerup.com/gpu-specs/hd-graphics-4000.c1266

[2021-06-30 21:54] IvanAclu commented on #270
Thanks for clarifying the issue.
The PC also has a Geforce 650M
https://www.techpowerup.com/gpu-specs/geforce-gt-650m.c547
This seems to show that this card supports DirectX 12
However I see that in DxDiag for this card.
DDI Version: Unknown
Feature Levels: Unknown

[2021-06-30 22:02] rcmaehl commented on #270
Ah, I'm not sure if there's some sort of display switching enabled causing the card to not report currently, but as soon as that card reports it's versioning you'll get a pass on WhyNotWin11. I'm not aware of any other to get directx for that meets current project specs.

I'm going to close this issue for now

[2021-06-30 22:02] #270 closed

[2021-06-30 22:04] rcmaehl commented on #290
Yep, looks like bbence018 turned into a ghost

[2021-06-30 22:14] spirillen commented on #66
Just for other to see the sha512sum, as I don't see any reason for other to download a badware.exe on there Windos (I'm running *nix :smirk: )

[code]

[2021-06-30 22:15] iam-py-test commented on #66
You always can download in a sandboxed VM or on a Linux machine (my favorite VM-less way to examine malware)

[2021-06-30 22:25] IvanAclu commented on #270
Happy for you to close this issue as both executables give same result.

However, I wonder if perhaps you need to warn about more than 1 graphics card making the results uncertain.
Is it possible there might be a corner case where one card passes DirectX test and the other passes the WDDM test but neither card is fully compliant?

[2021-07-01 00:07] htcfreek commented on #271
Tabbed User interface could be interesting for implantation of #32 too.

Maybe something like this: Scan Summary | Scan Details | About this app

[2021-07-01 00:11] htcfreek opened #305 "[Github Workflow] WIP label"
A lable to mark issues where work is in progress or which are in PR would be good.

[2021-07-01 00:23] micwoj92 commented on #305
You mean this? For PR there is already draft and you can also tag issues in prs.
![image](https://user-images.githubusercontent.com/45581170/124046877-38f8df00-da13-11eb-8906-ac6c356e207c.png)

[2021-07-01 02:18] JeremyWu0212 commented on #66
@rcmaehl That's the webpage.
![IMG_20210701_101359](https://user-images.githubusercontent.com/79089455/124054926-94fa3e00-d9e8-11eb-984d-b179e233a344.jpg)
疑似高仿网站？？？

[2021-07-01 02:27] JeremyWu0212 commented on #66
@rcmaehl The exe file's size is 686kb.
The file is download from www.whynotwin11.com

[2021-07-01 02:31] rcmaehl commented on #66
686kb? I would not trust it at all then

[2021-07-01 02:33] JeremyWu0212 commented on #66
@rcmaehl And it maybe created by Babbu.
![IMG_20210701_102906](https://user-images.githubusercontent.com/79089455/124056098-b78d5680-d9ea-11eb-9c9d-4ef577e750b6.jpg)

[2021-07-01 02:33] rcmaehl commented on #271
Potentially, was sent a concept for a dark mode theme by @botflakes

[2021-07-01 02:34] botflakes commented on #271
I really need to change my handle on GitHub :D

[2021-07-01 02:38] rcmaehl opened #306 "Figure out Release Bug"
**Describe the bug**
CI uploaded the wrong artifact to the release tag

**To Reproduce**
Steps to reproduce the behavior:
1. Push Changes
2. 1 minute later create release

**Expected behavior**
Latest Push is Built and uploaded

[2021-07-01 02:39] rcmaehl commented on #306
Tagging @Margen67

This is why I don't trust robots

[2021-07-01 02:45] JeremyWu0212 commented on #66
![IMG_20210701_104148](https://user-images.githubusercontent.com/79089455/124057006-58304600-d9ec-11eb-9a63-5653e1138864.jpg)
![IMG_20210701_104234](https://user-images.githubusercontent.com/79089455/124057007-58304600-d9ec-11eb-9723-38b9cd064c16.jpg)
@rcmaehl

[2021-07-01 04:06] rcmaehl commented on #66
![image](https://user-images.githubusercontent.com/716581/124061954-d77a4580-d9fd-11eb-9aad-3a3c79225d07.png)

I can confirm that application doesn't seem to be an autoit file or at least no one that the trusted decompiler can recognize. Oddly enough, VirusTotal Behavior report shows it running some of the commands that should be expected. App was UPX Compressed which the decompiler can handle but

[2021-07-01 04:09] thepwrtank18 commented on #66
You should probably take action by sending a DMCA complaint to Google (and other search engines) for impersonation and spreading malware.

[2021-07-01 04:33] FadeMind opened #308 "Dark theme missed icons on left side"
**Describe the bug**
Dark theme missed icons on left side.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Dark Theme in Windows
2. Launch latest WhyNotWin11 app. Look on top left side.
3. Not reverted icons.

**Expected behavior**
Reverted icons.

**Screenshots**
![20210701-1625113733](https://user-images.githubusercontent.com/9846948/124064877-f85e8d00-da35-11eb-83a3-63c87a0dbeba.pn

[2021-07-01 05:12] micwoj92 commented on #306
I would not blame CI. When creating tag, you can specify branch and even commit. This was human mistake (2 times in a row) unless you prove me otherwise

![image](https://user-images.githubusercontent.com/45581170/124068949-b0daff80-da3b-11eb-99fe-672e3c904d8c.png)

[2021-07-01 05:13] micwoj92 commented on #306
Because when I clicked on (now non existing) 2.3.0.2 it showed commit from my (now also non existing) branch.

[2021-07-01 05:16] micwoj92 commented on #306
Here, latest commit before release, and 2.3.0.2
![image](https://user-images.githubusercontent.com/45581170/124069245-26df6680-da3c-11eb-8460-5d17adadeeee.png)

Where 2.3.0.2 is the same as my testing branch
![image](https://user-images.githubusercontent.com/45581170/124069306-3fe81780-da3c-11eb-858b-9042264ac33b.png)

[2021-07-01 05:22] rcmaehl commented on #306
Well it was a valuable lesson. A lot of them this week.

[2021-07-01 05:22] #306 closed

[2021-07-01 05:22] micwoj92 commented on #306
Ahem, we all should sleep more.

[2021-07-01 05:26] micwoj92 opened #309 "The CI uploads empty artifact when build fails"
**Describe the bug**
Build of the application on CI fails, yet it doesn't error, because it can find the empty sha256  file.

**To Reproduce**
Steps to reproduce the behavior:
1. Make some changes that fail build, commit.
2. Go to Actions tab, latest commit
3. Find artifact which is empty

**Expected behavior**
CI fails upload

**Desktop (please complete the following information):**
N/A

**Additi

[2021-07-01 05:33] micwoj92 commented on #309
Ping @Margen67
Is there a way in the actions/upload-artifact where if fails if only some files are found? I did read the documentation, but could not find anything like that.

[2021-07-01 06:37] DanGM96 commented on #308
- Latest build: Icons are now rearranged vertically (not sure if intentional).
- The background being so black and the font color being full white makes it very hard on eyes.
I would like to leave this article on [GitHub's default dark mode](https://uxdesign.cc/githubs-dark-mode-is-too-dark-f6ab415cd4d4) that has good examples of Other Dark Mode Site Palettes.

[2021-07-01 06:50] hooddy commented on #271
PLeasew add language switrch into app settings. Right now i forced to remove russian lang. I need English only.

[2021-07-01 07:36] micwoj92 commented on #271
@hooddy #195

[2021-07-01 08:02] LoreBadTime commented on #77
Anything in the atom series that isn't in this list will probably have this combination,if they aren't in this list and have a that combination,means they will never be able to install any windows 64 bit edition. https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors

[2021-07-01 08:12] #309 closed

[2021-07-01 08:24] micwoj92 commented on #119
@rcmaehl Should be added to readme as todo? Then it could be closed.

[2021-07-01 08:36] spirillen commented on #66
Google isn't the one who handle misplaced domain that IANA/RIPE

In this case the first contact however would be name:sheep:

[code]

Then if they are not taking desired actions, then it RIPE: <https://duckduckgo.com/?t=ffab&q=ripe+report+domain&ia=web>

[2021-07-01 08:38] IvanAclu opened #311 "x64 and x86 not giving same DirectX result"
Issue (#270) was closed because the interim build that I tested gave the same result for both executables.
Version 2.3.0.3 reverts to the same behaviour as 2.3.0.1

x64 displays, "DirectX 12 & WDDM 2".
x86 displays, "No DirectX 12, but WDDM 2".

I wonder if there may be an issue when the PC has more than 1 graphics card?

[2021-07-01 08:42] TheDarkerPhantom commented on #75
You can report the download as safe (at least with Edge) and still download the file.  If more people reported the file as safe, the reputation of the file would likely prevent the file from being blocked.  It would still block you from running the application, but you can still run the application after you acknowledge the prompt.

[2021-07-01 08:43] micwoj92 commented on #75
@TheDarkerPhantom Could you test what happens with the whynotwin11.zip file from latest release? Is it also blocked from downloading?

[2021-07-01 10:47] Yuki2718 commented on #66
@rcmaehl Okay, 27/70 in VT would be enough to judge the software is suspicious.

[2021-07-01 10:49] micwoj92 commented on #311
As Robert said in closing comment "I'm not sure if there's some sort of display switching enabled causing the card to not report currently, but as soon as that card reports it's versioning you'll get a pass on WhyNotWin11"

[2021-07-01 11:00] micwoj92 commented on #50
@I-Rinka Could you test latest stable release, are there any improvements?

[2021-07-01 11:04] I-Rinka commented on #50
![image](https://user-images.githubusercontent.com/50841088/124114411-1ca28400-da9f-11eb-8eab-b29c57fbb795.png)
The left one is x64 version and the right is x86 version. Only CPU frequency has problem.

[2021-07-01 11:10] StormProductionsMusic opened #313 "Screen Reader Accessibility is Missing"
**Describe the bug**
Not accessible with a screen reader such as NVDA.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'nvaccess.org' and install 'NVDA'
2. Launch the WhyNotWin11 app and try to see the results using the screen reader only

**Expected behavior**
The screen reader will let you hear the actual results.

**Screenshots**
No screenshots as it's about visually impaired and/or

[2021-07-01 11:22] htcfreek commented on #305
For me it's really difficult to see  on which things @rcmaehl is working. He doesn't use PRs and don't label the issues as in progress

[2021-07-01 11:25] micwoj92 commented on #313
Please see #258 and comments

[2021-07-01 11:27] htcfreek commented on #271
We shouldn't color checks in progress with yellow. Let's choose another color for check in progress.

[2021-07-01 11:30] micwoj92 commented on #50
So a regression then :/

[2021-07-01 11:32] micwoj92 commented on #305
Technically easy to do, but I don't know his workflow, so assigning to him.

[2021-07-01 11:34] htcfreek commented on #271
@rcmaehl
- Would be great to define constants for the different state symbols that ee only have to update one place in code.
- Not sure how theming works atm. But imo we should have theme inis which define colors by element type.

[2021-07-01 11:58] StormProductionsMusic commented on #313
Unfortunately, there are too many comments in there, and due to my visual impairment, my screen reader can't load all of them.
Could you please tell me which is the most important in there? The shortcuts mentioned don't seem to work..

[2021-07-01 12:04] micwoj92 commented on #313
This pull request was to add JAWS, NVDA andSapi5. It is not approved yet. NVDA compatibility was removed due to us being uncertain (it has different license than this software). It still needs to be reviewed and approved by Robert, but you can already download and test it.

Link below is to download zip, feel free to test and share feedback. It will be very important. Thanks!

https://github.com/r

[2021-07-01 12:04] CKylinMC commented on #66
I don't know should I create a new issue but I can't visit https://www.whynotwin11.org ...

![image](https://user-images.githubusercontent.com/11648014/124121503-89ba1780-daa7-11eb-9373-e0eeb70f9116.png)

[2021-07-01 12:06] micwoj92 commented on #66
Try without www, it's just a redirect to this repo.

[2021-07-01 12:10] CKylinMC commented on #66
OK, it works. Thanks!

[2021-07-01 12:21] StormProductionsMusic commented on #313
No, I have no other screen readers - I only have NVDA.
Please let me know when, and if NVDA compatibility will be a thing.

Thanks.

[2021-07-01 12:22] rcmaehl commented on #305
Fine

[2021-07-01 12:24] #261 closed

[2021-07-01 12:32] micwoj92 opened #314 "On Windows 8.1 application uses dark theme all the time"
**Describe the bug**
Since 2.3.0.3 on Windows 8.1 the application seems to use dark theme. I am using the default "Windows" theme

**To Reproduce**
Steps to reproduce the behavior:
1. Launch application on Windows 8.1
2. See darkness

**Expected behavior**
White theme

**Screenshots**
Left 2.3.0.1, right 2.3.0.3
![image](https://user-images.githubusercontent.com/45581170/124124788-2618f580-da79-11

[2021-07-01 13:01] Margen67 commented on #309
`if-no-files-found: error` only errors if it can't find any files at all.
GitHub Actions should exit after the build fails, but `Start-Process` doesn't give an exit code.
The command `sha256sum -b WhyNotWin*.exe > checksums.sha256` creates a file even when it fails.
`7z` overwrites sha256sum's exit code, so the build step "succeeds" and thus upload-artifact runs.

[2021-07-01 13:27] micwoj92 commented on #309
Thanks for confirming, was also thinking about that, that's why I just moved that step to release only, a place where it is needed.

[2021-07-01 13:52] rmcpantoja commented on #313
Hi @StormProductionsMusic
The first. Did you activate the enanced accessibility? Because when you open WhyNotWin11.au3 with the accessibility script included, when opening the prigram, the first thing is to ask yourself if you want to activate accessibility through an MSGBox. I don't know if you haven't done it, but I just tried it and it works for me with sapi5. The thing is, as @micwoj92 explain

[2021-07-01 15:55] rcmaehl commented on #314
@micwoj92 Please try the latest build when you have the chance

[2021-07-01 15:59] htcfreek commented on #305
I think we should rename label to `Work-in-progress` which is better understandable for other contributors who don't know the meaning of "wip".

[2021-07-01 16:03] rcmaehl commented on #305
Updated

[2021-07-01 16:05] micwoj92 commented on #314
I think it gave effect mirrored to desired one
![image](https://user-images.githubusercontent.com/45581170/124154983-4b682c80-da96-11eb-8475-3733c8b4a90c.png)

Here my theming settings
![image](https://user-images.githubusercontent.com/45581170/124155121-6dfa4580-da96-11eb-8712-653be570ac7d.png)

Composition: Windows
Wallpaper: Harmony
Colour: Automatic

And here on white contrast
![image](https:/

[2021-07-01 16:05] rmcpantoja commented on #313
Hi, I have solved the problems with the code and fixed everything.
Especially in the accessibility script, when creating the "config" folder that stores the settings in the script folder. What happens is that in the main script of the program the working directory was changed to the system directory, so privileges are needed, but it is already corrected and perhaps that is the problem that prevent

[2021-07-01 16:10] Oleg-Chashko commented on #271
Very nice concept. 👍🏻
I added an "About Us" button (for Localizers of this program, etc.).
Added "Settings" button (Localization Selection, Design Themes, etc.).

**Example:**
![124056172-39817d80-d9f3-11eb-90a1-44917327bac5](https://user-images.githubusercontent.com/62497891/124156093-7b63ff80-da97-11eb-8e89-e68cd7223c1c.png)

[2021-07-01 16:11] micwoj92 commented on #305
Labels can have description, hovering mouse shows it
![image](https://user-images.githubusercontent.com/45581170/124156304-bfef9b00-da97-11eb-84bb-6efb48a3a60d.png)

[2021-07-01 16:23] htcfreek commented on #305
Another good lable is "Fix-Committed".

[2021-07-01 16:27] htcfreek commented on #271
Not sure if the "About us" icon is the best choice. Maybe something like this ℹ would be better.

[2021-07-01 16:30] micwoj92 commented on #305
There already is "Patched?"

[2021-07-01 16:30] rcmaehl commented on #271
For licensing reasons, it'll likely be one of these:

![image](https://user-images.githubusercontent.com/716581/124158612-20ff7a80-da68-11eb-960c-339ff376e90b.png)

[2021-07-01 16:31] micwoj92 commented on #305
But to be honest I don't think it's needed. Usually issue is closed when the "Fix is Committed"

[2021-07-01 16:34] Oleg-Chashko commented on #271
@htcfreek
Icons, this is an example (the author of the program, it chooses what he likes), I just showed the location on the interface of the program.

[2021-07-01 16:38] Oleg-Chashko commented on #271
If I may, I'm in favor of #2.

[2021-07-01 16:43] htcfreek commented on #305
okay.

[2021-07-01 17:25] colenh commented on #66
keeps getting worse doesn't it, ive reported it to both cloudflare and namecheap but i havent recieved any replies.

[2021-07-01 17:26] iam-py-test commented on #66
Report to uBlock Origin at https://github.com/uBlockOrigin/uAssets/issues
That will increase the blocking

[2021-07-01 17:26] micwoj92 commented on #66
Apparently namecheap is bad when it comes to replying to abuse report emails. No idea about cloudflare.

[2021-07-01 17:28] iam-py-test commented on #66
If we report to mainstream blocklists, they will be more likely to respond

[2021-07-01 17:28] micwoj92 commented on #66
https://github.com/uBlockOrigin/uAssets/commit/d2b2afe18f9cf3196b58b7a0e9fb67d1d83e5444

[2021-07-01 17:29] iam-py-test commented on #66
Oh. Thanks!

[2021-07-01 18:26] blocklistproject commented on #66
At this time we have a similar response to @spirillen, the site still currently links to the repo, after scanning the site we are not able to find any obvious malicious serving content and VirusTotal gives it a clean bill of health. Please keep us updated and as soon as this changes we will add it to our lists.

[2021-07-01 18:27] iam-py-test commented on #66
@blocklistproject the download has a large number of detections on VirusTotal:

![](https://user-images.githubusercontent.com/716581/124061954-d77a4580-d9fd-11eb-9aad-3a3c79225d07.png)

[2021-07-01 18:31] iam-py-test commented on #66
https://www.virustotal.com/gui/file/831c7d8b75738072e74020f61670ebde2e88b4f72cac941cdddf09d5de263a18/detection

[2021-07-01 18:33] blocklistproject commented on #66
I am unable to download the file in a safe environment right now to confirm. So, out of an abundance of caution based on the image above we will at least be temporarily blocking the site. Once I am able to confirm this, the block will either be removed or will permanently be left in place. Thank you for bringing this to our attention and the quick reply regarding our concern. It takes a community!

[2021-07-01 18:34] iam-py-test commented on #66
I posted a scan above

[2021-07-01 18:51] micwoj92 commented on #66
@blocklistproject At first that website was serving .exe from this repo, then they switched to self hosting and next day they had changed executable to show .com website instead of real whynotwin.org redirect. Then they changed to totally different exe which scan you can see above. It seems that now they changed to linking to official download again but it is uncertain for how long and what next a

[2021-07-01 18:59] htcfreek commented on #162
@rcmaehl
Working on it. Please add "in progress".

[2021-07-01 19:00] micwoj92 commented on #162
Added in progress and assigned to you.

[2021-07-01 19:09] htcfreek commented on #162
@rcmaehl
Which license do you want to have?

[2021-07-01 19:27] rmcpantoja commented on #313
Hi,
I don't know what commit you downloaded. The first included NVDA but there were still things to improve, but in the latter everything is ready, only that for now NVDA is no longer taken into account. It's weird what happens to you, since the accessibility script works perfectly for me when I press one of the 8 key combinations and it reads me with the voice I have in sapi5. Anyway, I will upda

[2021-07-01 19:55] micwoj92 commented on #162
@htcfreek What makes you not wanna use LGPL?

[2021-07-01 19:56] htcfreek commented on #162
I read a bit and decided to switch to lgpl. 😉

[2021-07-01 20:02] spirillen commented on #66
I'm a bit confused about the intention with this message? What is it you are trying to tell me?
Could you please elaborate @blocklistproject ?

[2021-07-01 20:24] TheDarkerPhantom commented on #75
Only the executable(s) from the releases are blocked by Microsoft Defender SmartScreen.

[2021-07-01 20:28] htcfreek commented on #162
@rcmaehl
Here is an new function to get disk infos from wmi: https://github.com/htcfreek/AutoIT-Scripts/blob/v1.0/src/GetDiskInfoFromWmi.au3

=> Note: You can disable the table headers.

![image](https://user-images.githubusercontent.com/61519853/124185725-9f393c80-dabb-11eb-981a-859fbec19a26.png)

![image](https://user-images.githubusercontent.com/61519853/124185781-b4ae6680-dabb-11eb-835d-5c08ad

[2021-07-01 20:30] PierreGrillet opened #321 "Local folder is not created properly by the script"
**Description**
The Local folder is created, no CPU list file, the local Lang file is empty.

[code]

**Steps to reproduce**
1. Delete `/WhyNotWin11/Local` folder
2. Double click on *WhyNotWin11.au3*
3. CPU checks fail, GUI not in french

**Expected Local folder**
[code]

Is this behavior intended or a bug ?

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro 20H2
 - Ve

[2021-07-01 20:41] micwoj92 commented on #321
Does this also happen on 2.3.0.3 STABLE release?

[2021-07-01 20:54] htcfreek commented on #162
@rcmaehl
I think it would be better if you implement the new function because you have a better overview on the main script and checks. 😉

[2021-07-01 20:59] StormProductionsMusic commented on #313
Can you please give me the link to the version that you have and for which the accessibility script works as expected, so I can test it? Thanks.

[2021-07-01 20:59] dxgldotorg commented on #66
https://who.is/whois/whynotwin11.com

Bad news, the web host is hidden behind Cloudflare.

Perhaps you might be able to get in touch with NameCheap support (the registrar) but they might require a UDRP.

[2021-07-01 21:08] PierreGrillet commented on #321
Affirm
Also on the 2.3.0.3 STABLE release

[2021-07-01 21:12] micwoj92 commented on #313
@StormProductionsMusic
This should be the latest version from before the NVDA was removed:
https://github.com/rcmaehl/WhyNotWin11/suites/3125228223/artifacts/71643119

[2021-07-01 21:15] micwoj92 commented on #321
Adding high because it prevents from launching. ping @rcmaehl

[2021-07-01 21:16] micwoj92 commented on #321
Maybe it is better to have all files embedded into application? Is it possible with AutoIt?

[2021-07-01 21:47] PierreGrillet commented on #321
In my case, the app was launching though.
Only the CPU list test was "failling".

[2021-07-01 21:50] iam-py-test commented on #66
If enough places block it, it might not matter

[2021-07-01 21:51] micwoj92 commented on #321
Oh, when you posted "See error" I thought it means error code and the app didn't start

[2021-07-01 21:55] PierreGrillet commented on #321
ok, that was misleading.
The app runs fine though. It just not getting files copied right. So translation and CPU list checks both fail.

[2021-07-01 21:56] PierreGrillet commented on #321
I think you can remove the high tag 😄

[2021-07-01 21:57] micwoj92 commented on #321
I mean, high description is "High Priority, Negatively affects functionality for all users "

And this does, no CPU check + no translation.

[2021-07-01 22:37] #321 closed

[2021-07-01 23:44] rmcpantoja commented on #313
No, the version that really works is this, that is, the last one that was compiled, which fixes a major bug with the configuration folder. I say important because that version, the program had the script directory change, and the configuration folder is used to save the reader's configurations, that is, what screen reader is being used. This is the one that really works:
        https://github.com

[2021-07-01 23:45] micwoj92 commented on #313
Yes, but that version that you linked doesnt support NVDA, does it?

[2021-07-01 23:48] rmcpantoja commented on #313
NO, it is not compatible with NVDA, that is, it is the latest version that was built a few hours ago and it works definitely without any problem.

[2021-07-02 00:15] #305 closed

[2021-07-02 00:27] verdy-p opened #324 "Detailed CPU and UEFI capability checks for virtualization"
Please detail the CPU capacilities that are required or strongly suggested, notably for virtualization, at least for information, because they are not easy to find and check :

* SLAT
* support of large pages
* 5-layers page translation (recent CPUs, still not used in Windows 10)
* extended addressing space (more than 48 bits)
* Intel VT-x, Intel TXT (LT) : Microsoft dropped the Win10 support of T

[2021-07-02 00:29] micwoj92 commented on #32
Hmm, I see that in versions 1.x there were some tips. @rcmaehl why were they removed? They could be great addition to this issue.
![image](https://user-images.githubusercontent.com/45581170/124203567-4b3f4f80-dadd-11eb-9e07-09b0d8e97400.png)

[2021-07-02 00:35] rcmaehl commented on #32
Were removed during the rewrite to 2.x, I think we're finally in a state that we can add them back in due to the GUI and requirements not really changing anymore and neither is the GUI. Ideally, if someone else could write them as I suck at explaining (see v1), it'd be appreciated.

Potential icons to help indicate more info/help:
![image](https://user-images.githubusercontent.com/716581/124203924

[2021-07-02 00:38] micwoj92 commented on #32
question mark 4 definitely. I think that these tips should pop up once you hover or click on the check mark/question mark/x

[2021-07-02 03:00] micwoj92 opened #325 "Specify supported versions of Windows and AutoIt in readme"
My suggestion is as follows:

For AutoIt, latest stable and latest beta release.

For Windows I suggest 8.1 and up, and for Windows Server 2012. I know that Windows 7 and server 2008 are still supported  if you pay for ESU (or whatever the name was) but if Microsoft requires paid support, then I think that you @rcmaehl should also demand that.

Reasoning:
Issues like these https://github.com/rcmae

[2021-07-02 03:19] EastArctica opened #326 "TPM 1.2 marked as "Missing / Disabled""
**All Checks**
- Download and run the latest build https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip
- Attach a picture of your WhyNotWin11 Results
- https://i.eastarcti.ca/PjN1F.png
- Attach required information based on the category:

**TPM**
- Please run `windowsdefender://devicesecurity`, Select `Security Processor Details` and attach a screenshot of the output
- https://

[2021-07-02 03:50] colenh commented on #66
already contacted them and cloudflare and im awaiting a response

[2021-07-02 04:26] #74 closed

[2021-07-02 04:28] rcmaehl commented on #326
Should be marked as not compatible, one moment

[2021-07-02 04:38] rcmaehl commented on #326
Please give it a couple minutes, then download and run the latest dev build: https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip

[2021-07-02 05:12] rcmaehl commented on #325
Resolved.

[2021-07-02 05:12] #325 closed

[2021-07-02 05:15] rcmaehl commented on #243
@nichog Please try the latest build https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip and report back. Due to inactivity on this ticket I will be closing it out in 12 hours.

[2021-07-02 05:18] htcfreek commented on #162
@rcmaehl
I have released the new version: https://github.com/htcfreek/autoit-scripts/releases/latest

[2021-07-02 05:36] rcmaehl commented on #271
I don't think there's enough information for an About Page, and enough settings for a settings page, so I'm going to combine them into one child GUI.

Ideas for icon:

![image](https://user-images.githubusercontent.com/716581/124225652-d4eb1f00-dad5-11eb-8bc1-9002a436fece.png)

[2021-07-02 05:41] htcfreek commented on #271
My vote for 12 or14. 👍

[2021-07-02 05:54] rcmaehl commented on #271
14 is too arty, but I'd be fine with 12. @Oleg-Chashko  @micwoj92 opinions?

[2021-07-02 05:55] Oleg-Chashko commented on #271
I'm in favor of: 12 👍🏻

[2021-07-02 06:07] rcmaehl commented on #271
![image](https://user-images.githubusercontent.com/716581/124228472-4036f000-dada-11eb-97c2-52fbfb229282.png)

Now I just need to set up content for the settings page.

[2021-07-02 06:27] Oleg-Chashko commented on #271
I'd like to see the settings page when it's ready.

P.S.: The design of the settings button is slightly different from the rest of the buttons. But this is for the best, because visually you pay attention to it. And you don't have to look for it in the program interface.

[2021-07-02 06:43] htcfreek commented on #271
- Lang selection
- Color mode
- Main contributors
- Credits for includes
- Translators

[2021-07-02 06:55] micwoj92 commented on #271
I think that settings cog icon looks much better.

[2021-07-02 07:07] Oleg-Chashko commented on #271
@micwoj92

I agree with you, I quote: The design of the settings button is slightly different from the rest of the buttons.
Which gear do you like? Suggest your option.

[2021-07-02 07:08] rcmaehl commented on #271
@micwoj92 I'm off to bed, if you can get a consensus on a different icon, go ahead and merge it in.

[2021-07-02 07:16] micwoj92 commented on #271
I'm not the best when it comes to UI, couple look fine to me. But I think that the best one would be one looking close to what Windows settings application on win10 uses, so the "settings" one, I think it needs to be rotated a bit.

[2021-07-02 07:21] Oleg-Chashko commented on #271
@micwoj92
Please choose from this list and write the numbers. A couple of options are desirable.

![124225652-d4eb1f00-dad5-11eb-8bc1-9002a436fece](https://user-images.githubusercontent.com/62497891/124236388-ae010d00-db16-11eb-8ff3-2d48ca762250.png)

[2021-07-02 07:31] micwoj92 commented on #271
I meant the "setting" one, no nmber, but 4 and 17 also look fine to me.

[2021-07-02 07:53] Oleg-Chashko commented on #271
Let's come to a single option.

- **12 number:**

![124228472-4036f000-dada-11eb-97c2-52fbfb229282](https://user-images.githubusercontent.com/62497891/124240213-d25ee880-db1a-11eb-8882-4e283c78bbdb.png)

---
- **13 number:** But I think that the best one would be one looking close to what Windows settings application on win10 uses, so the "settings" one, I think it needs to be rotated a bit.

![13

[2021-07-02 07:58] sanny-io commented on #271
I think 4 fits in with the others the most.

[2021-07-02 08:43] micwoj92 commented on #271
Yeah, after seeing this mockup, definitely 4.

W dniu piątek, 2 lipca 2021 sanny.io ***@***.***> napisał(a):

https://ci4.googleusercontent.com/proxy/V3uGy2Dre5pH1LaLrYXmBtdhu6NTC7r_aTIZwwx0gV10UdEtpknxiXYHrn5QwueXKvVmH8ISWkfiAqDn1-cKzR2j2DfUaj45Inz-P3pTPohrYszX1fICUyUYP1n8v4q2f3fwZ1Cl3uR_5hrlXGDqdclkHBM8B_RyUkDyTHO29wjCBukLjj9uuEJkYieHOE96JRyb4K3jIhjfY4CKAAvjbP93bZAf19sFY8vA5Hb0WQ=s0-d-e1-ft#http

[2021-07-02 08:56] mlipok opened #335 "Exiting from Main()"
### Discussed in https://github.com/rcmaehl/WhyNotWin11/discussions/334

<div type='discussions-op-text'>

<sup>Originally posted by **mlipok** July  2, 2021</sup>
after Main()
there should be used:

[code]

but:
this part
[code]
with the Exit functions determines that all after Main() will not be called.

Please correct me if I'm wrong.
</div>

[2021-07-02 10:09] adrianolabate opened #339 "WhyNotWin11_x86.exe v. 2.3.0.3 flagged as malicious by 6 security vendors in VirusTotal"
The application has been flagged as malicious by Cisco Security Endpoint (AMP).
It has also been flagged as malicious by 6 security vendors in VirusTotal.
See online report below:
https://www.virustotal.com/gui/file/1495ee7fd04c699abe22d3fb1c51233b0250a745091749f2f1fc01df394b9953/detection

Workstation on Windows 10 20H2 (19042.1055).

[2021-07-02 10:10] micwoj92 commented on #339
Duplicate of #49

Will need to change title (32 bit build usually get more false positives)

[2021-07-02 10:10] #339 closed

[2021-07-02 10:10] micwoj92 commented on #339
In short: report to vendors as fp and then hope for best.

[2021-07-02 10:10] mlipok commented on #339
https://www.autoitscript.com/forum/topic/34658-are-my-autoit-exes-really-infected/

[2021-07-02 11:49] Oleg-Chashko commented on #271
A small request, slightly reduce the size of the font (in the red rectangle).
Since the same font size is used in the program header (in the green rectangle).

![124239321-dd654900-db19-11eb-8fdb-300ee89f4b0c](https://user-images.githubusercontent.com/62497891/124270159-20d0af00-db3c-11eb-9a14-18ff0a6229d0.png)

[2021-07-02 13:42] Qazy147 commented on #116
I have a question. I would like to write function to test resolution and dimensions for connected displays. Should it test current resolution or maximal / native resolution?
It would look like this
[code]
As result would be array:
[0] = total number of monitors
[1] = number of bigger or same size monitors
[2] = number of smaller monitors
[3] = number of monitor with undetected parameters

Would it

[2021-07-02 13:46] MDMCK10 commented on #66
![image](https://user-images.githubusercontent.com/21245760/124283776-92185e00-db4c-11eb-88e3-415bf9751d7e.png)

[2021-07-02 13:49] iam-py-test commented on #66
@MDMCK10 is this mean it has been taken down or will be taken down?
https://sitecheck.sucuri.net/results/whynotwin11.com shows it is still online (for now)

If it gets completely taken down, @rcmaehl should try to buy the domain before someone else uses it

[2021-07-02 13:51] MDMCK10 commented on #66
This just means that Cloudflare has put a warning on the WhyNotWin11.exe file that's on the site, (and forwarded a complaint to the hosting provider as well) the website itself is still online, but I'm also working with Namecheap at the moment to get the domain itself taken down. I'll post updates as they happen.

[2021-07-02 13:57] iam-py-test commented on #66
@MDMCK10 Thank you!

[2021-07-02 14:05] MDMCK10 commented on #66
the gmail warning works in strange ways sometimes - i forgot to click "looks safe" before screenshotting it

[2021-07-02 14:19] MDMCK10 commented on #66
Got response from Namecheap: "Thank you, we'll check it."

[2021-07-02 14:50] MDMCK10 commented on #66
Domain Status: clientHold https://icann.org/epp#clientHold

We win!

[2021-07-02 14:52] micwoj92 commented on #66
We did it Reddit!

[2021-07-02 14:52] iam-py-test commented on #66
Reddit?

[2021-07-02 14:54] micwoj92 commented on #66
reddit.com

[2021-07-02 14:54] iam-py-test commented on #66
I know what Reddit is.
I was just curious why you said Reddit when this is GitHub

[2021-07-02 14:55] micwoj92 commented on #66
Because @rcmaehl is notorious Redditor.

[2021-07-02 17:46] mlipok opened #345 "SSL certificate on https://www.whynotwin11.org"
after going to: https://www.whynotwin11.org

I get this information:

Error 526 Ray ID: 6689ae571942c83b • 2021-07-02 17:44:15 UTC
Invalid SSL certificate

[2021-07-02 17:50] micwoj92 commented on #311
@rcmaehl
![image](https://user-images.githubusercontent.com/45581170/124311891-bc7b1300-db6e-11eb-838a-fe2bf8f9a8b9.png)

64 bit on right, 32 on left.

[2021-07-02 17:51] micwoj92 commented on #311
intel igpu reports same on both versions

[2021-07-02 17:58] micronine24 commented on #345
I have the same issue
![imagen](https://user-images.githubusercontent.com/27899139/124312543-dce2a780-db45-11eb-9d3a-701d22fa864c.png)

[2021-07-02 17:58] micwoj92 commented on #345
Adding as bug, works fine without www. I think it needs to be changed in program + all translations

[2021-07-02 17:58] rcmaehl commented on #311
I'm going to assume this is an issue with running a non-native version of dxdiag. I'll add in a warning about this issue but I don't think I can fix this

[2021-07-02 18:01] micwoj92 commented on #311
Also I've read a bit and it seems like WDDM2+ requires DX12, so couldn't it be hardcoced to pass both then? If you have wddm 2 then you also should have dx 12.

[2021-07-02 18:03] rcmaehl commented on #311
If you can provide a link so I could verify that it'd be appreciated. Would make things simpler

[2021-07-02 18:05] #243 closed

[2021-07-02 18:10] rcmaehl commented on #345
Give it a bit for DNS to propagate and try again

[2021-07-02 18:10] rcmaehl commented on #345
Give it a bit for DNS to propagate and try again

[2021-07-02 18:14] mlipok commented on #345
Now I get: NET::ERR_CERT_COMMON_NAME_INVALID

[2021-07-02 18:21] rcmaehl commented on #345
Attempted another fix, give it a few minutes

[2021-07-02 18:23] mlipok commented on #345
`https://www.whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/whynotwin11.org/why

[2021-07-02 18:34] micwoj92 commented on #345
Works for me @mlipok could you confirm?

[2021-07-02 18:39] EastArctica commented on #326
https://i.eastarcti.ca/ZEBbK.png Looking all good now! Thanks 👍

[2021-07-02 18:39] #326 closed

[2021-07-02 19:03] micwoj92 commented on #311
Actually it seems other way around?
https://github.com/MicrosoftDocs/windows-driver-docs/blob/119a8f0435127a41cd215063200f67cd6eb51ed1/windows-driver-docs-pr/display/what-s-new-for-prior-wddm-2-x-versions.md#wddm-21

I fucking hate tech news sites man....

[2021-07-02 19:22] micwoj92 commented on #46
@ccsnet could you post your dxdiag?

[2021-07-02 19:37] MDMCK10 commented on #66
... or so I thought
looks like the domain is (sadly) back up, except the "WhyNotWin11.exe" file on it is gone.
I guess it's up to @rcmaehl to take legal action at this point, since whoever is behind the website clearly wants to keep it up for some (likely malicious) reason

[2021-07-02 19:39] iam-py-test commented on #66
How did they do that?
Also, it is blocked by a whole bunch of places, so hopefully that will provide some protection.
Has anyone been able to get through to Google abuse? They seem to ignore my Safe Browsing reports

[2021-07-02 19:42] MDMCK10 commented on #66
How did they do that? Well, registrars actually give you a way to get your domain back up if you resolve the "problem", which in this case was the "WhyNotWin11.exe" file on the site being considered malware, since the person got rid of that file, the registrar allowed the domain to be put back up.
I submitted to safe browsing, but nothing has happened.
As for how many vendors are blocking it, the

[2021-07-02 19:52] iam-py-test commented on #66
I am aware, but GSB's report system is horrible, and domains I reported months ago still are not blocked.
I am not even sure if I have the right url.
However, if we submit it to GSB enough times, and get other places onboard, we may be able to make an impact

[2021-07-02 19:52] micwoj92 commented on #66
Is it? I cant connect to it.

[2021-07-02 19:53] iam-py-test commented on #66
Just checked. I can't connect either

[2021-07-02 19:55] rcmaehl commented on #66
![Screenshot_20210702-155454](https://user-images.githubusercontent.com/716581/124322671-dd7f3c00-db4d-11eb-820a-07a3245d5802.png)

I'll check some of my several tickets with several vendors and see if there's any update

[2021-07-02 20:03] billysielu commented on #335
You click exit, it exists. Why is this a problem?

[2021-07-02 20:11] rcmaehl commented on #335
He's referring to the operating system check that doesn't actually get run because I'm big dumb

[2021-07-02 20:22] #335 closed

[2021-07-02 20:24] rcmaehl commented on #345
Should be fixed now, you may need to clear browser cache as 301s are cached

[2021-07-02 20:40] billysielu commented on #345
looks good

[2021-07-02 20:41] #345 closed

[2021-07-02 20:43] krystian3w commented on #66
On my ISP also is offline.

[2021-07-02 20:45] iam-py-test commented on #66
@MDMCK10 maybe your seeing a cached version

[2021-07-02 20:49] micwoj92 commented on #223
After couple hours of searching I can say the following: if you have wddm 2(or even 2.7 in that case) then you should have dx12. I have seen couple dxdiag reports with windows 10 having wddm1.2 but it was only if it didnt have dx12 capable card. If you are on win10 and have one then you most definitely also have the second one.

[2021-07-02 21:08] mlipok commented on #335
`He's referring to the operating system check that doesn't actually get run`
Exactly

[2021-07-02 21:09] mlipok commented on #345
Confirmed as fixed, thanks

[2021-07-02 21:14] mlipok commented on #66
Chceck again.

It could be related to the recent changes:
https://github.com/rcmaehl/WhyNotWin11/issues/345

[2021-07-02 21:21] MDMCK10 commented on #66
... oh the darn caches
i checked what happened, it looks like that it came back up for a brief period of time on my end for some reason, and when i was doing the WHOIS lookup it did not show clientHold
after making sure that nothing is being cached on my end, the site once again looks to be offline
(sorry about that, i did not notice at first)

[2021-07-02 21:22] iam-py-test commented on #66
Ok. Thanks for checking
We all make errors

[2021-07-02 21:23] MDMCK10 commented on #66
i blame my ISP for having bad DNS servers that keep stuff for way longer than they're supposed to
i thought i had it set up so i use cloudflare as DNS, but i guess i have to double check that now

[2021-07-02 23:55] mlipok commented on #335
Could you remove InProgress tag ?

[2021-07-03 00:03] thepwrtank18 commented on #66
It's down.
ICANN Lookup shows [clientHold](https://www.icann.org/resources/pages/epp-status-codes-2014-06-16-en#clientHold) and [clientTransferProhibited](https://www.icann.org/resources/pages/epp-status-codes-2014-06-16-en#clientTransferProhibited).

We won.

[2021-07-03 06:08] micwoj92 commented on #314
As of https://github.com/rcmaehl/WhyNotWin11/commit/38cb18b467ee8c37f86454a7cd43d340e5826f60 looks like this
![image](https://user-images.githubusercontent.com/45581170/124344931-cf74fe00-dbd5-11eb-81a4-b44e7c3a415d.png)

[2021-07-03 06:12] rcmaehl commented on #314
~~Moves 8 and 8.1 to Unsupported~~

I'm marking as low for now. The number of 8.1 users is low. The number of 8.1 Dark Mode users are even lower

[2021-07-03 06:13] micwoj92 commented on #314
I think then that low label needs adjustment in description ;)

[2021-07-03 06:46] rvane opened #357 "UI text unreadable because of dark theme"
**Describe the bug**
A dark theme is used in the program which currently makes user interface texts unreadable

**To Reproduce**
Steps to reproduce the behavior:
1. Download the program
2. Start the program
3. Observe the dark theme

**Expected behavior**
Readable texts regardless of used theme

**Screenshots**
![ui](https://user-images.githubusercontent.com/27134869/124345753-03065700-dbdb-11eb-8

[2021-07-03 06:54] rcmaehl commented on #357
Yep, was trying to fix #314. Give it a couple minutes and then download https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip

[2021-07-03 08:47] mlipok commented on #335
hey... I just notice.
We omnit some code part.

Why do you still use some code after Main()

[code]
It is never called, or I'm wrong ?

[2021-07-03 09:11] doktornotor commented on #357
Works fine now.

[2021-07-03 09:28] testermania commented on #49
v2.3.04
https://www.virustotal.com/gui/file/348a2d60ce747aa5d61f58693a335f16b839fc930b19c3ef5160b33a1f1c1ea3/detection

[2021-07-03 09:51] kermittheboi opened #359 "Error: Subscript used on non-accessible variable"
Whenever I use a dev build or a stable one I get the exact same error.

Line 1606 (File "C:\Users\<name>\Downloads\WNW11\WhyNotWin11.exe"):
Error: Subscript used on non-accessible variable.

Opening it as an admininstrator does nothing, removing the folder WhyNotWin11 from %localappdata% also doesn't fix the issue. Probably something not used? No idea. Hopefully this helps, if more information is

[2021-07-03 09:56] mlipok commented on #359
do you use current dev version ?

[2021-07-03 09:59] SamCool939 opened #360 "Indonesian Translation (New)"
I'm gonna want to upload the translation file, but where? The translate file is just ready, but idk where I can upload that file.

[2021-07-03 10:15] billysielu opened #362 "Revert SupportedProcessorsIntel.txt"
The last change to SupportedProcessorsIntel.txt was incorrect. Probably the Windows 10 list instead of Windows 11 list. Revert the change and make a new release.

[2021-07-03 10:55] korenevskiy opened #363 "Bug display in dark theme OS."
![img-2021-07-03-13-54-02](https://user-images.githubusercontent.com/6898474/124351990-504bee00-dc06-11eb-93dc-52043f2e5c89.png)
Bug display in dark theme OS.

[2021-07-03 11:23] harakiwi commented on #363
yes, same here on my Win 10 install. (21H1 19043.1081)

[2021-07-03 11:25] harakiwi commented on #357
yes, same here on my Win 10 install. (21H1 19043.1081)
the provided zip file works fine (https://github.com/rcmaehl/WhyNotWin11/issues/357#issuecomment-873358385)

[2021-07-03 12:05] bl-ue commented on #360
Upload it here: https://github.com/rcmaehl/WhyNotWin11/blob/main/Langs/0421.lang

https://github.com/rcmaehl/WhyNotWin11/blob/main/Langs/0000-translating-guidelines.txt documents it:

[2021-07-03 12:18] PriitUring commented on #360
Don't upload. It's better and easier for everyone if you edit another language file and rename the edited file before you make a pull request.

1. Verify locally how your translation looks like, by editing or adding new translation to this directory: C:\Users...\AppData\Local\WhyNotWin11\Langs
2. Read this guideline text: https://github.com/rcmaehl/WhyNotWin11/blob/main/Langs/0000-translating-guid

[2021-07-03 12:19] #363 closed

[2021-07-03 12:28] micwoj92 commented on #362
Fixed

[2021-07-03 12:28] #362 closed

[2021-07-03 12:45] Oleg-Chashko opened #370 "The program update button does not work"
**Describe the bug**
The program update button does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'update button'
2. No reaction to pressing, the program interface freezes for 1-2 seconds.

**Expected behavior**
A banner should appear informing you that the program is up to date.

**Desktop (please complete the following information):**
 - OS: Windows 11
 - Version 2.3.0

[2021-07-03 12:53] #357 closed

[2021-07-03 13:26] bl-ue commented on #360
@PriitUring per [here](https://www.autoitscript.com/autoit3/docs/appendix/OSLangCodes.htm), `041B` is for Slovak and `0421` is for Indonesian 🤔

[2021-07-03 13:33] SamCool939 commented on #360
Thanks @PriitUring for the tips and @bl-ue for the correction. #372 has been added and is ready to reviewed.

[2021-07-03 13:34] micwoj92 commented on #360
@PriitUring your instructions are wrong, if you see that new PR you can see that it shows 0000.lang as being removed because of that

[2021-07-03 14:00] SamCool939 commented on #360
I'm sorry for that, so, any fix for #372?

[2021-07-03 14:14] htcfreek commented on #162
Please reassign it to me. Will work tomorrow on it.

[2021-07-03 14:17] htcfreek opened #374 "[Space check] Incorrect result if "SystemRoot" <> "c:""
If Windows isn't installed on C: the check is checking the incorrect drive.

[2021-07-03 14:18] htcfreek commented on #374
@micwoj92 , @rcmaehl
Please lable as bug and assign to me. Will work tomorrow on it.

[2021-07-03 14:46] Stewie410 opened #375 "Multiple MBR Disks reports "GPT Detected, 0/1""
**Describe the bug**

When the latest release is run against a system with multiple MBR disks, the disk partition table requirement reports "GPT Detected 0/1 Drive(s) Meet Requirements".

**To Reproduce**
Steps to reproduce the behavior:
1. Have multiple non-GPT disks
2. Run the application

**Expected behavior**
I would expect the tool to report that GPT is not detected on any connected disk, as

[2021-07-03 15:08] htcfreek commented on #375
Will be fixed soon.

Duplicate of #

[2021-07-03 15:24] micwoj92 commented on #375
Marking as duplicate, follow #162

@htcfreek you are already assigned there, I don't think there is need for these 2 issues open if they are about the same thing.

[2021-07-03 15:24] #375 closed

[2021-07-03 15:26] htcfreek commented on #375
Agree to you. It is linked, so I can't miss it. 😉

[2021-07-03 15:36] Androish commented on #314
I have the same issue on windows 10.

So it seems not only windows 8.1 users are affected

v2.3.0.4

windows 10 21H1

![windows10](https://user-images.githubusercontent.com/16946169/124359406-0d4d4300-dc25-11eb-8b5b-9d370f68d050.PNG)

[2021-07-03 15:37] micwoj92 commented on #314
@Androish Check latest dev build, the text issue should be fixed there if you are on win10.

[2021-07-03 15:40] Androish commented on #314
@micwoj92 That it does, works on v2.3.0.5 latest dev build

[2021-07-03 16:44] #370 closed

[2021-07-03 17:09] rcmaehl commented on #374
Looks good per #376

[2021-07-03 18:19] Oleg-Chashko commented on #271
@rcmaehl, @micwoj92

**Request and Question:**
1. The red zone must not be sensitive to pressure.
 Only the green area, should be, sensitive to pressure, equal to the length of the inscription.
 _It was discovered by accident, tried to click on the cross to exit the program, and as a result came through a link to GitHub._
2. Please explain why to make two identical links to GitHub site, located fr

[2021-07-03 18:44] bl-ue commented on #360
close (@micwoj92) :)

[2021-07-03 19:05] #360 closed

[2021-07-03 21:02] #374 closed

[2021-07-03 21:08] rcmaehl commented on #359
@kermittheboi give it a couple minutes then download and run https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip

Looks like there's a case where it crashes if it doesn't detect any bootable disks

[2021-07-03 21:12] rcmaehl commented on #162
@htcfreek Let me see if I can implement this.

[2021-07-03 21:29] rcmaehl commented on #162
@htcfreek Merged in. Sorry my github notifications are a mess. Feel free to open a PR or ping me on github as older issues might get passed up on accident. 😅

[2021-07-03 21:53] htcfreek commented on #162
@rcmahel
I think I will release v1.2 tomorrow with an small enhancement. So I will look tomorrow on it.

But I saw you didn't removed the old check from wmi and you only changed one check in main script. Is this correct?

[2021-07-03 21:58] rcmaehl commented on #162
For now, this may improve one I get it sorted out, something like

$SYSTEM_DISK - "GPT DETECTED"
#/# Disks Meet Requirements

[2021-07-03 21:59] htcfreek commented on #162
@rcmaehl
Try the latest dev build: The result on success check isn't centered anymore.

OFFTOPIC: Is the disk space requirement for Windows 11 for partitions or for disks?

[2021-07-03 22:00] rcmaehl commented on #162
Partition, but we can "Warn" if the Disk has enough space but the partition does not.

[2021-07-03 22:00] htcfreek commented on #162
I panned to do this tomorrow. I planed nearly the same. 😅

[2021-07-03 22:02] htcfreek commented on #162
I can implement it tomorrow.  Let me create a new issue for improving layout (and check) of gpt and disk space

[2021-07-03 22:03] htcfreek opened #385 "Improve layout for space check and GPT check"
I want to improve the checks for "GPT" and "Disk space".

### GPT
- Green = System disk is GPT
- Red = System disk is not GPT
[code]

### Disk space
- Green = System partition and System disk >= 64 GB
- Yellow = System partition < 64 GB and System disk >= 64 GB
- Red = System partition and System Disk < 64 GB
[code]

---

@rcmaehl
Are you okay with this? Then please assign me.
Who does it work wit

[2021-07-03 22:19] Oleg-Chashko opened #386 "In the file "GetDiskInfo.au3" there are typos in the word "Partition""
**Describe the bug**
In the file "GetDiskInfo.au3" there are typos in the word "Partition".

[2021-07-03 22:20] htcfreek commented on #386
Great find. But false repo for the issue. I will transfer your issue.

[2021-07-03 22:27] htcfreek commented on #386
@rcmaehl
Can be closed as resolution external.

[2021-07-03 22:41] htcfreek opened #387 "[Dark mode] While checking rectangle is grey with"
**Describe the bug**
While checks are running, on dark mode the ? in the rectangle is difficult to read, because the background is to light.

**To Reproduce**
Steps to reproduce the behavior:
1. Start WhyNotWin11

**Expected behavior**
While checking the ? is goodto read.

**Screenshots**
![image](https://user-images.githubusercontent.com/61519853/124368326-81590c80-dc60-11eb-8ad2-1116973aea2b.png

[2021-07-03 22:41] micwoj92 commented on #385
I've already assigned you, just in case.

I mostly approve them, but it''s the people who submit.

Nah, I think most translators here would see something missing and add these strings.

[2021-07-03 22:41] #386 closed

[2021-07-03 22:43] micwoj92 commented on #387
I think it could be solved by making it darker gray.

[2021-07-03 23:00] htcfreek opened #388 "Theme definition file"
As I asked/suggest in another issue, we should add an Theme interface like this:

Dark.stylecfg
[code]

[2021-07-03 23:09] micwoj92 commented on #388
I think it should just be light/dark and users with custom themes should figure it out.
Ideally there should be just 2 sets of icons and rest should be done automatically

[2021-07-03 23:12] micwoj92 commented on #388
Or maybe replace icons with svg, would be much easier to change colours.
Does autoit support svg?

W dniu niedziela, 4 lipca 2021 Heiko ***@***.***> napisał(a):

like this:

https://ci6.googleusercontent.com/proxy/HE0R2HHsbp-ZHltBfWGC8GOy8sUjTSwpNQCn9P64WkldI2BEqqIt2lLBfOUe7Mlcy60GG3LggAI6vsOn_wZILIiPln-ogbFEk1z5I5Z3m3mtNdYrQhYou0OrhTAJqSy_qFb9DCFBaI7pqhOd4Q7FFfUss7svXna1rOYExyFEOnnN2m_Bil1bcUAtks

[2021-07-03 23:21] htcfreek commented on #388
No. Only by using embedded IE 🤮.

[2021-07-04 00:31] nbmrjuhneibkr commented on #314
There is no such thing as system-wide dark mode in Windows 8.1.

[2021-07-04 00:52] micwoj92 commented on #314
Maybe he meant dark contrast?

[2021-07-04 01:01] micwoj92 commented on #162
Sadly, this broke running on Wine, which worked fine prior to https://github.com/rcmaehl/WhyNotWin11/commit/f913e4486599f7d92498e708f65292a10de69972

[2021-07-04 01:11] rcmaehl commented on #162
I'm pretty sure you get a different pop-up before this one can you post that

[2021-07-04 01:12] micwoj92 commented on #162
Only loading, but it quits and then just shows this

[2021-07-04 01:13] micwoj92 commented on #162
line 1279
`Local $sNewDisk = $iDisk & "||" & $oDisk.DeviceID & "||" & $oDisk.Manufacturer & "||" & $oDisk.Model & "||" & $oDisk.Interfacetype & "||" & $oDisk.Mediatype & "||" & $oDisk.Serialnumber & "||" & $oDisk.Status & "||" & $oDisk.Size & "||" & "<DiskInitStyle>" & "||" & $oDisk.Partitions & "||" & False`

[2021-07-04 01:16] micwoj92 commented on #162
I think this is wine error
[code]

[2021-07-04 01:35] nbmrjuhneibkr commented on #314
I've never enabled high-contrast mode, but I'm also experiencing this issue, which means that it affects _all_ 8.1 users. I tried latest dev build, it didn't help.

[2021-07-04 04:00] rcmaehl commented on #385
I think "System volume (C:): 250 GB (on Disk 0: 900 GB)" and "1/4 internal disks meet requirement."  might be a bit long and would get cut off even without translation.

[2021-07-04 04:00] #359 closed

[2021-07-04 04:43] Qazy147 commented on #116
I completed display properties detection function, but it needs some testing (I have only one monitor right now). What should be input and how should output look like?
[GetMaxResolution.au3.txt](https://github.com/rcmaehl/WhyNotWin11/files/6759377/GetMaxResolution.au3.txt)

[2021-07-04 05:57] rcmaehl commented on #116
I'll take a look in the morning

[2021-07-04 06:04] xz00311 commented on #388
WinAPISysWin.au3  The library file was not found

[2021-07-04 09:38] Oleg-Chashko opened #391 "In the file "SupportedProcessorsIntel.txt" there are typos"
**Describe the bug**
In the file "SupportedProcessorsIntel.txt" there are typos

Line 441: Xeon(R) Gold Gold 5218 -> Xeon(R) Gold 5218
Line 442: Xeon(R) Gold Gold 6238R -> Xeon(R) Gold 6238R

Line 443: Xeon(R) Gold6246 -> Xeon(R) Gold 6246
Line 444: Xeon(R) Goldv 6234 -> Xeon(R) Gold 6234

Line 523: Xeon(R) Gold Gold 5318Y -> Xeon(R) Gold 5318Y

[2021-07-04 10:10] billysielu commented on #391
The 'typos' are in the [Windows 11 Supported Intel Processors](https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors ) list.
No way of knowing if they're intentional or not, so I wouldn't 'fix' them.

[2021-07-04 10:11] billysielu commented on #387
or maybe a spinner to indicate progress.
sometimes it takes a while and people think it's failed.

[2021-07-04 10:19] billysielu commented on #385
I agree it's confusing so something needs to be done. Mainly the "1/2 drives" thing doesn't tell you which drive met what. Can someone explain why we're checking drives other than the system drive? Do they all need to be GPT?

There's a wider usability point that it should be possible to tell what the Windows 11 requirement is from each row of WNW11.
E.g.   Boot Method  Expected: UEFI  Actual: Leg

[2021-07-04 10:24] htcfreek commented on #385
In general the other drive doesn't need to be checked. Because the information has not really any benefit, I will remove it. This gives me mor space for information.

[2021-07-04 10:27] Oleg-Chashko commented on #391
@billysielu
I double-check myself, on the Intel manufacturer's website.
Intel writes the correct processor names.
And Microsoft is wrong, it happens.

Link: https://ark.intel.com/content/www/us/en/ark.html#@Processors

[2021-07-04 10:30] billysielu commented on #324
Probably requires a seperate screen for advanced users.

[2021-07-04 12:07] YakoBen opened #393 "Dark Color Showed with lack of PC info"
**Describe the bug**
When I opened the app, the color is black and just showing the status, "OK" buttons.

**To Reproduce**
Steps to reproduce the behavior:
1. Right-click on your mouse.
2. Hover down to "Personalize"
3. After Theme settings opens in the control panel, click on "Colors" on the right sections.
4. Go to "Choose your color", and try to get back to your theme default settings or chang

[2021-07-04 12:30] micwoj92 commented on #162
Still broken, honestly it's not worth it to support wine
![image](https://user-images.githubusercontent.com/45581170/124385033-514b5100-dcd4-11eb-8d66-b293cd7e26d8.png)

[2021-07-04 12:50] JohnLGalt commented on #387
Anyone tried it on Win11 itself?  I could not read much in dark mode, dark bg with black text....

Yes, I know it's for running on systems prior to installing Win11 - but it also provides some really good info on currently running Win11 machines, and that's why I continue to test every build on both 10 and 11.

<img width="602" alt="15" src="https://user-images.githubusercontent.com/7432512/124385

[2021-07-04 12:51] JohnLGalt commented on #393
Same on 11, too.

[2021-07-04 12:51] htcfreek commented on #162
Maybe the ASSOC tables not existing in wine.

[2021-07-04 12:54] micwoj92 commented on #388
What are you trying to do @xz00311?

[2021-07-04 12:57] micwoj92 commented on #136
So is there anything specific that can be added to checks? Otherwise I think this issue could be closed.

[2021-07-04 12:59] micwoj92 commented on #391
Please report this to microsoft.

[2021-07-04 12:59] #391 closed

[2021-07-04 13:05] micwoj92 commented on #387
@JohnLGalt Please update to latest version.

[2021-07-04 13:07] micwoj92 commented on #393
@YakoBen
Could you try https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip ?

[2021-07-04 13:11] Oleg-Chashko commented on #391
@micwoj92
_Please report this to Microsoft._
I take it you didn't write this to me?

[2021-07-04 14:37] JohnLGalt commented on #387
Text is now whit e on dark bg - ty.

[2021-07-04 15:38] kermittheboi commented on #359
Seems to be working now, thanks for addressing the issue so quick. CPU Frequency and Core Counts isn't displayed (says 0 in everything) but all and all it opens so that's good enough.

[2021-07-04 15:52] micwoj92 commented on #391
I wrote this in general. In words of billysielu "No way of knowing if they're intentional or not"

[2021-07-04 16:01] Oleg-Chashko commented on #391
@micwoj92
Got it, thanks for the clarification.

[2021-07-04 16:18] testermania commented on #66
They bought the domain name before you, why are you crying now? And you judge people by their names? You have to stop racism, your program will be forgotten after 1 month and will be on dusty shelves.

[2021-07-04 16:21] krystian3w commented on #66
Bug your software never die - you learn childrens/grandchildren how edit your code?

[2021-07-04 16:22] rcmaehl commented on #66
Crying? No. Trying to prevent bait and switch malware/badware, yes. As proven in this thread, they were distributing badware after not being able to mirror the application.

Judge people by their names? No. They were all using what is basically "John Smith" or "John Doe". There's nothing wrong with pointing out a fact

[2021-07-04 17:19] htcfreek opened #395 "Add a page to show requirements system is being checked against"
Let's add one of the following suggestions to show the requirements we check against:
- Info icon on the right side (after check info text) with an tooltip.
- Column with text about requirement per check.
- On every check a third line in lighter background color with the requirement.

[2021-07-04 19:30] rcmaehl commented on #66
Just for you I went and verified the person. They're running Mac 10.13.1 with Chrome 91 in India, Muthi

[2021-07-04 19:39] iam-py-test commented on #66
How did you get that information?

[2021-07-04 19:41] rcmaehl commented on #66
Messaged one of their accounts and they clicked a link ¯\_(ツ)_/¯ even a basic web browser gives a ton of info in the header, add in javascript and other code and you can get a bunch more

[2021-07-04 23:08] micwoj92 commented on #290
@Tudi20 Because you have not responded in 4 days and your translation had wrong code, I have removed it. There is 040E.lang file which you may want to review if you wish.

[2021-07-04 23:08] #290 closed

[2021-07-04 23:40] Tudi20 commented on #290
I barely have been on the Internet for this past few days, tbh, and I also
was waiting for the other guy to show up, since I realised that there was
already an other one.

I might review his original translation, and see which one I like better
personally.

Also, edits don't get notifications, and I don't understand why something
that practically shouldn't be translated is translatable.

Furthermo

[2021-07-04 23:48] micwoj92 commented on #290
We were waiting too, but it seems like the GitHub account was deleted and we have no other way to contact.

I don't know what you mean by that.

There is, you can go to `%localappdata%\WhyNotWin11\langs`, find your language code, change file and view locally. I will add it to guidelines now.

[2021-07-05 02:13] thepwrtank18 commented on #66
how did this turn into a talk about racism

[2021-07-05 02:14] micwoj92 commented on #66
Open source is very political.

[2021-07-05 02:19] micwoj92 opened #400 "Update GetDiskInfoFromWmi to 1.4.1"
WhyNotWin11 currently includes 1.2, 1.3 released 10 hours ago.

[2021-07-05 09:47] svenrat commented on #393
Same problem here, but with a solution. If there is no registry entry for "AppsUseLightTheme" (I have Win8.1), then I get this behavior. So I changed the code.

At the end of "WhyNotWin11.au3" I add the following lines:

[code]

and then I changed the following lines to:

[code]

Then it works for me without changing some Theme stuff :) .

[2021-07-05 10:02] pklion opened #402 "Font for Asian characters"
**Describe the bug**
It looks weird because of fonts...
![image](https://user-images.githubusercontent.com/78145811/124454092-09efbe00-ddc3-11eb-842a-558474d87a22.png)

**To Reproduce**
Simply open the application in Japanese.

**Expected behavior**
How about changing

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information

[2021-07-05 11:18] JohnLGalt commented on #387
Text is now white on dark bg - ty.

[2021-07-05 11:45] htcfreek commented on #400
I will do this by myself when updating the check. 😉 ()

To fix some typos v1.4 will be released soon.

[2021-07-05 13:44] rcmaehl commented on #66
👀 Linux Kernel Email threads

[2021-07-05 14:24] MDMCK10 commented on #66
The site seems to actually be back this time, this entire thing is just a never ending battle at this point, and i find it slightly comical for some reason.
![image](https://user-images.githubusercontent.com/21245760/124485590-06513c80-ddad-11eb-8b79-26a8692886f8.png)
A quick look at the website reveals that the download button is completely gone for some reason, and the "Download" link on the nav

[2021-07-05 14:28] iam-py-test commented on #66
I tried to access it & I got this error:
![image](https://user-images.githubusercontent.com/84232764/124486596-c1f97880-dd7b-11eb-84a8-76c739f2067a.png)

[2021-07-05 14:34] spirillen commented on #66
God damned.... chrome can be true about itself!!!!

![image](https://user-images.githubusercontent.com/44526987/124487306-d7d46100-ddae-11eb-8e1a-8a461d74fc2c.png)

:smirk: :imp: :open_mouth:

[2021-07-05 14:39] iam-py-test commented on #66
What do you mean?
I tried using Firefox and got the same error.
Or are you talking about Chromium's not-so-secret anti-privacy

[2021-07-05 14:43] spirillen commented on #66
google anti-privacy policy, where nothing is private to them, but all about them is private :smirk:

You know...

`||goole.*^`

[2021-07-05 14:44] iam-py-test commented on #66
Ok. I think there is a typo in that filter though.

[2021-07-05 14:54] nichog opened #406 "version 2.3.1.0, still showing incorrect information"
Upon starting the new build, the 2 I reported on before are still showing incorrect displays
**To Reproduce**
Steps to reproduce the behavior:
Double click on EXE file,
app appears with incorrect information for Boot Method, Secure Boot and Now the Disk part ion is NOT reading the M.2e drives correctly
**Expected behavior**
1.Should show boot partition as non legacy, since it is encrypted by the s

[2021-07-05 14:57] nichog commented on #406
![Shows_1_particon_as_GPT](https://user-images.githubusercontent.com/36136819/124490122-991ab880-dd66-11eb-82fd-e663e31a6b03.jpg)

[2021-07-05 15:51] rcmaehl commented on #406
Please run `Confirm-SecureBootUEFI` in admin powershell

2.3.0.1 showed 1/2 drives bootable AND gpt, it did not specify C:

Please see 1.

The official release requirements are here: https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-amd-processors

WhyNotWin11 does not show results for dev, insider, or leaked builds currently. If the CPU list changes f

[2021-07-05 16:02] rcmaehl commented on #402
What font would you recommend?

[2021-07-05 16:28] micwoj92 commented on #400
Ok, gonna assign this one to you then.

[2021-07-05 16:36] micwoj92 commented on #66
Nope, it's recent addition.

[2021-07-05 16:38] htcfreek commented on #400
@micwoj92
I hope I have the time to work on it this week.

[2021-07-05 16:40] rcmaehl commented on #66
LGTM.

[2021-07-05 17:04] thepwrtank18 commented on #66
their download doesn't even work anymore, just goes back to the home page

[2021-07-05 17:08] rcmaehl commented on #66
I'm going to go ahead and close this out. While some people may be confused still, I am happy with the disclaimer. I wish they would have replied via the forwarding service and other contact methods, but I'll continue to keep an eye on the situation.

[2021-07-05 17:08] #66 closed

[2021-07-05 17:08] thepwrtank18 commented on #66
We got a good ending (hopefully it stays that way). Good the situation got resolved.

[2021-07-05 17:27] #393 closed

[2021-07-05 17:27] #387 closed

[2021-07-05 17:28] #314 closed

[2021-07-05 17:30] rcmaehl commented on #314
Which supported OSes does it not work on?

[2021-07-05 17:41] spirillen commented on #66
I thinks we all (BlackList maintainers) should remember to [REMOVE](https://mypdns.org/my-privacy-dns/matrix/-/issues/1835#note_3821) whynotwin11.com from our blacklists.... right?

[2021-07-05 17:48] micwoj92 commented on #77
I've looked a bit at this topic. Most of these devices had soldered 2gb ram anyway so they wouldn't pass the ram requirement.
If they had 4GB RAM, then for Surface 3 had x7-Z8700 which is not on this list, but that device had 64-bit Windows so it is not the problem.

[2021-07-05 17:49] rcmaehl commented on #271
![image](https://user-images.githubusercontent.com/716581/124505517-af8d3800-dd97-11eb-92b5-9332dbb5b9fa.png)

Do I need to move the existing section over? Or maybe switch to a tooltip on hover (and add info that it exists?)

[2021-07-05 17:50] rcmaehl commented on #395
![image](https://user-images.githubusercontent.com/716581/124505601-dea3a980-dd97-11eb-9f83-13d16ed2e415.png)

Not sure if I like the icon approach with how little room is left. One moment

[2021-07-05 17:50] iam-py-test commented on #66
Should we report FPs to the AV detections on VirusTotal?

[2021-07-05 17:55] rcmaehl commented on #395
![image](https://user-images.githubusercontent.com/716581/124505949-9a64d900-dd98-11eb-8c6b-f81614871adb.png)

[2021-07-05 17:56] micwoj92 commented on #393
Can confirm it fixes issue on 8.1
![image](https://user-images.githubusercontent.com/45581170/124506022-15df7e00-ddcb-11eb-9f78-7dccbb81c308.png)

[2021-07-05 17:57] Oleg-Chashko commented on #271
![124505517-af8d3800-dd97-11eb-92b5-9332dbb5b9fa](https://user-images.githubusercontent.com/62497891/124506093-3ad3f100-ddcb-11eb-87a0-17dda85217de.png)

[2021-07-05 17:59] micwoj92 commented on #314
I think he meant that the application was unusable on Windows 8.1 due to this theming bug.

[2021-07-05 18:02] rcmaehl commented on #271
Either that or
![image](https://user-images.githubusercontent.com/716581/124506407-95ecf000-dd99-11eb-9a5d-4128214f0ca6.png)

Maybe removing the "Results based on currently known requirements"

[2021-07-05 18:03] micwoj92 commented on #395
Why not make it show if you hover mouse over your current specs?

[2021-07-05 18:06] Oleg-Chashko commented on #271
The icons are clearer and will be understood in any country without translation. And the interface is not overloaded.

[2021-07-05 18:09] rcmaehl commented on #271
Maybe not in English...

[2021-07-05 18:13] rcmaehl commented on #271
![image](https://user-images.githubusercontent.com/716581/124507107-13653000-dd9b-11eb-821c-12dd9b2ec7dc.png)

Slight adjustment

[2021-07-05 18:14] Oleg-Chashko commented on #271
Important condition, the distance on the right and left must be the same!
![124505517-af8d3800-dd97-11eb-92b5-9332dbb5b9fa](https://user-images.githubusercontent.com/62497891/124507172-87203080-ddcd-11eb-9b2b-5b8023d672a1.png)

[2021-07-05 18:15] Oleg-Chashko commented on #271
Totally agree with you.

[2021-07-05 18:19] Oleg-Chashko commented on #271
I have to work with people. And I can say with certainty that people do not like to count any text.

[2021-07-05 18:36] htcfreek commented on #271
Please add a bit space between result and info icon.

[2021-07-05 18:37] htcfreek commented on #395
Who should know this?

[2021-07-05 18:39] htcfreek commented on #395
Im sure the hover note gets lost.

[2021-07-05 18:40] rcmaehl commented on #271
![image](https://user-images.githubusercontent.com/716581/124508956-ed418f00-dd9e-11eb-8c16-1530d929ee80.png)
There, even in 3 places

[2021-07-05 18:44] htcfreek opened #407 "[Question] How does cmd line otput looks like?"
Can you give me an example how cmd line output should look like?

[2021-07-05 18:48] Oleg-Chashko commented on #271
@rcmaehl

Important condition, the distance on the right and left must be the same!

![124507172-87203080-ddcd-11eb-9b2b-5b8023d672a1](https://user-images.githubusercontent.com/62497891/124509441-4545b900-ddd2-11eb-8d56-d90966a9bff0.png)

[2021-07-05 18:52] spirillen commented on #66
VT is only operating a collection of list / results from external sources, such as @mitchellkrogza's https://github.com/mitchellkrogza/Phishing.Database.

Requesting removal from these lists become the site/domain owners own headache.

[2021-07-05 18:52] micwoj92 commented on #407
I think just a list with all requirements present in GUI + check mark

[2021-07-05 18:55] htcfreek commented on #407
The point is, I the script code isn't really organized and commented.

[2021-07-05 19:19] iam-py-test commented on #66
If they are legit, that should not be hard & they might want to

[2021-07-05 19:29] mlipok commented on #407
To which specyfic part you are refiering in this issue ?

[2021-07-05 19:36] htcfreek commented on #407
Ignore it. I found the things I searched. Will make a PR to improve code layout

[2021-07-05 19:36] #407 closed

[2021-07-05 19:52] Oleg-Chashko commented on #271
@rcmaehl

I'm sorry for interrupting. Will you change something?
https://github.com/rcmaehl/WhyNotWin11/issues/271#issuecomment-873448849

[2021-07-05 19:54] rcmaehl commented on #271
Was removed in https://github.com/rcmaehl/WhyNotWin11/issues/271#issuecomment-874277194 test

Just commited 0720ebe if you want to see a test build, bit busy with work but will continue on UI in a couple hours

[2021-07-05 20:00] Oleg-Chashko commented on #271
@rcmaehl
Thanks for answering. Take your time, work calmly. I just asked. I won't disturb you. :)

[2021-07-05 21:37] htcfreek opened #412 "Improve script structure"
- Move FileInstall into `_ResourceHelper.au3`
- Move Gui including into `_Gui.au3`
   - Add new function `_UpdateScanResult($iScanResultIndex, $iState, $iResultNote)` => $iState = Question, Warning, Okay, Error
   - Move Gui related functions
   - Move GDI+ function
- Add a comment to each function which describes the use case, inputs and outputs.
[code]
- Move command line processing into `_Comma

[2021-07-05 21:54] micwoj92 commented on #412
Could you format points as [ ] ? That way it would be easier to tell
progress. I assume that it's unlikely to so such big task all at once.

W dniu poniedziałek, 5 lipca 2021 Heiko ***@***.***>
napisał(a):

$iResultNote) => $iState = Question, Warning, Okay, Error

outputs.

other commits.

https://ci3.googleusercontent.com/proxy/vBxjOB6CdSOXyCUGFkK6nuR7zNBYV30tKIv3QDG9MBUtB-DWkwUQK2WqYD0FyQNrKre6

[2021-07-05 22:19] htcfreek commented on #385
Your thoughts?

![image](https://user-images.githubusercontent.com/61519853/124521424-b6e03000-ddef-11eb-8881-25e2173ef80d.png)

[2021-07-05 22:33] htcfreek commented on #412
@micwoj92
Doneml.

[2021-07-05 22:39] htcfreek commented on #162
Let's close as dup of #385.

Imo the wine problem is a won't fix. Running this tool in wine isn't a real use case!

[2021-07-05 22:49] micwoj92 commented on #385
Looks good, do these have fixed or variable width?

[2021-07-05 22:50] rcmaehl commented on #385
Tooltip is fine, Might need more details. For Disks I'd like to have it be like

C: # GB, Disk: # GB

Maybe make a note of how many other disks meet requirements in the tooltip for people that will do a clean install.

[2021-07-05 22:50] rcmaehl commented on #385
Tooltips are semi-variable

[2021-07-05 22:52] micwoj92 commented on #412
Should I assign this to you?

[2021-07-05 22:52] rcmaehl commented on #412
Me

[2021-07-05 22:54] htcfreek commented on #412
Updated main comment.

[2021-07-05 22:54] micwoj92 commented on #162
Ok, closing as duplicate of #385 then. Also locking, as further discussion should go there.

[2021-07-05 22:54] #162 closed

[2021-07-05 22:55] micwoj92 commented on #385
That's good, I was afraid of some longer translations not fitting.

[2021-07-05 22:56] micwoj92 commented on #412
@rcmaehl you can assign yourself :P

[2021-07-05 22:59] htcfreek commented on #385
@rcmaehl , @micwoj92

![image](https://user-images.githubusercontent.com/61519853/124522953-4c31f300-ddf5-11eb-8287-01ab86ee34bf.png)
_Note: This is a poc with fix written text._

[2021-07-05 23:53] nbmrjuhneibkr commented on #58
This issue needs to be opened again. I launched the latest dev build, and it still shows in red that I don't have DX12 and WDDM2.0, even though I'm using Nvidia Pascal GPU, which is fully compatible with these features.

[2021-07-06 00:00] nbmrjuhneibkr opened #414 "Inaccurate SecureBoot detection"
SecureBoot check gives me "Supported" result marked in green, despite the fact that it's currently disabled in my system.
Shouldn't it be "Supported/Disabled", marked in yellow?

Windows 8.1.

[2021-07-06 00:05] micwoj92 commented on #58
@nbmrjuhneibkr Could you post your dxdiag?

[2021-07-06 00:09] nbmrjuhneibkr opened #415 "Mark TPM "Missing/Disabled" in yellow"
Currently "missing/disabled" TPM is marked in red, giving impression that hardware is incompatible with Windows 11. While in reality, fixing this incompatibility may be as easy as changing a BIOS setting on most modern PCs.

[2021-07-06 00:13] nbmrjuhneibkr commented on #58
Dxdiag shows DX11.1 and WDDM1.3, since I'm on Windows 8.1. Dxdiag is not an accurate source for this information, since it shows only features supported by the currently installed OS, and not by hardware.

[2021-07-06 00:20] HideakiAtsuyo opened #416 "The exact list of compatible CPUs :)"
https://www.ginjfo.com/actualites/logiciels/windows-11/windows-11-voici-la-liste-exacte-des-processeurs-intel-et-amd-pris-en-charge-20210703

[2021-07-06 00:29] micwoj92 commented on #58
By not posting your dxdiag you are making it harder for us to check this issue. You should know that wnw11 already checks for DirectX hardware compatibility.

[2021-07-06 00:31] micwoj92 commented on #416
Please link to direct microsoft sources, not some magazine. https://github.com/rcmaehl/WhyNotWin11/discussions/165

[2021-07-06 00:31] #416 closed

[2021-07-06 01:03] nbmrjuhneibkr commented on #58
Here it is, but I don't know what are you expecting to find there. I removed some parts that are not related to this problem - storage, audio etc.
[DxDiag.txt](https://github.com/rcmaehl/WhyNotWin11/files/6766636/DxDiag.txt)

[2021-07-06 01:54] rcmaehl commented on #58
You are running Windows 8.1 which does not support DirectX 12. Oddly enough, Feature Level is reported as 11.1 as well. I'm unsure if dxdiag is unable to recognize that it's a DirectX 12 card because DX12 isn't installed or what's happening here. Can you send a screenshot of GPU-Z?

[2021-07-06 02:24] micachi opened #417 "Storage capacity should be handled in gigabyte, not gibibyte."
Windows treats gibibytes as gigabytes for convenience, but the Windows 11 requirement gigabytes are not.

The required "64 GB" for Windows 11 is "59.6046 GiB". Windows then displays this as "59.6 GB".
For devices of this capacity, the official check tool displayed "64 GB", which met the requirements of Windows 11. However, in WhyNotWin11, "59.6 GB" is displayed and "NG" is displayed.

This is prob

[2021-07-06 02:53] nbmrjuhneibkr commented on #58
Dxdiag in 8.1 predates DX12, so it probably just doesn't know how to recognize it.
Here is GPU-Z:
![gpuz](https://user-images.githubusercontent.com/8460563/124535244-7a77f880-de1e-11eb-849f-3e7f2deede6d.gif)

[2021-07-06 02:55] rcmaehl commented on #58
I may just need to create a database of DX12 cards for "enhanced" detection.

[2021-07-06 03:05] rcmaehl commented on #417
Calculation is based on Windows Explorer using GiB and I'd like to keep it that way to not cause confusion, but if we know for use that the download is 59.6 GiB, I can update the check to pass if storage is >= 59.6

![image](https://user-images.githubusercontent.com/716581/124536078-492f0680-dde5-11eb-9d2d-b6144a4392be.png)

[2021-07-06 03:18] nbmrjuhneibkr commented on #58
I think that the only way to make this app accurate is to rely on the OS as little as possible - not just for DirectX, but also for TPM, UEFI, SecureBoot. Just because some feature is disabled at the moment doesn't mean that it's not present in hardware.

If it can't be accurate, then the user would be better off posting detailed specs on some forum and asking if Windows 11 can run on that PC.

[2021-07-06 03:22] rcmaehl commented on #414
Per testing with the official app. Secure Boot does not need to be enabled, just supported. Why?

![image](https://user-images.githubusercontent.com/716581/124537441-e55a0d00-dde7-11eb-90d9-96d249d4f8e6.png)

[2021-07-06 03:24] rcmaehl commented on #414
If this changes I'll make the change in WhyNotWin11. Otherwise closing for now.

[2021-07-06 03:24] #414 closed

[2021-07-06 03:25] nbmrjuhneibkr commented on #414
If it doesn't need to be enabled, then it may as well not be there at all. This requirement doesn't make a lot of sense to me - just like many other things regarding Windows 11.

[2021-07-06 03:26] rcmaehl commented on #414
Absolutely. CPU support list is insane. 2023 requirements are stupid. The entire update is a mess.

[2021-07-06 03:28] rcmaehl commented on #385
Better. My main concern is translations, but they can use shorter terms if needed.

[2021-07-06 03:33] micwoj92 commented on #58
Ok @nbmrjuhneibkr since you say that "I think that the only way to make this app accurate is to rely on the OS as little as possible - not just for DirectX, but also for TPM, UEFI, SecureBoot." Please help us with creating following lists:
- Every motherboard with UEFI
- Every motherboard with TPM (support)
- Every GPU supporting Directx 12
- + every x thing that is in [the following document by M

[2021-07-06 03:35] rcmaehl commented on #58
No need to be mean

CPU TPM support
and
GPU DirectX support

can be done, and will continue to keep WhyNotWin11 as one of the most accurate tools outside of Microsoft's, currently unavailable, own, but they're not a priority

[2021-07-06 03:38] micwoj92 commented on #58
I'm not mean. Microsoft's official tool only supports Windows 10 and these problems could easily be resolved if WNW11 also supported only Win10. For Windows 7 there is unsupported warning, so why not add the same for Windows 8.1 for DirectX  +WDDM2 detection?

[2021-07-06 04:58] htcfreek commented on #385
The question is, if with shorter terms information goes lost.

[2021-07-06 05:06] htcfreek commented on #385
How do we indicate which part of check hasn't passed if partition is to small, but didk is okay (yellow)?

[2021-07-06 05:11] nbmrjuhneibkr commented on #58
Can be determined by the chipset model.

Not counting headers for dedicated TPM modules, this can be determined by CPU generations.

Needs to be checked against a full list when OS is not DX12-capable, there's no way around this, it seems.

Most of these are requirements set by MS for OEMs to ship their devices with Windows 11, and not actual requirements for the OS.

MS tried that with the offici

[2021-07-06 05:16] htcfreek commented on #412
@rcmaehl
We should use the same naming structure for the same type of include. This means `Resources.au3` should be '_Resources.au3'.

[2021-07-06 06:24] mlipok commented on #415
What exactly you mean just Enabling TPM in BIOS or something else ?

[2021-07-06 06:33] nbmrjuhneibkr commented on #415
BIOS. Both Intel and AMD systems from the last few years have built-in TPM support that's usually disabled by default.

[2021-07-06 07:43] mlipok commented on #415
In mikroprocesor instead separate TPM chip ?
I heard about year about, or something about, please refresh my memory.

How this feature is called ?

[2021-07-06 08:25] micachi commented on #417
As you can see in this image, the official check tool clearly calculated in gigabytes.
![image](https://user-images.githubusercontent.com/78028453/124567447-fa35af80-de7e-11eb-8eaa-9a4ff50c7e92.png)

[2021-07-06 11:55] nbmrjuhneibkr commented on #415
Intel PTT, AMD fTPM

[2021-07-06 12:37] mlipok commented on #415
Do you mean this:
https://helgeklein.com/blog/how-to-check-windows-tpm-status-enable-cpu-amd-ftpm-intel-ptt/

Please run:
`
C:\>tpmtool.exe getdeviceinformation
`
and provied yours result

here are mine:
[code]

[2021-07-06 12:46] mlipok commented on #415
btw.
If there is no allready usable UDF to parse/get information via `tpmtool`
I will provide separate project for gathering information from this tool

[2021-07-06 13:41] nbmrjuhneibkr commented on #415
I don't think that `tpmtool` (or any other software that interacts with TPM) will be able to detect TPM when it's disabled in BIOS.

[2021-07-06 13:45] rcmaehl commented on #415
It cannot.

[2021-07-06 13:48] mlipok commented on #415
What about checking Intel PTT, AMD fTPM ?

[2021-07-06 14:58] rcmaehl commented on #415
[cpu features.txt](https://github.com/rcmaehl/WhyNotWin11/files/6770924/cpu.features.txt)

Doesn't appear to be included in the CPU feature list, so I'd have to manually create a list of them

[2021-07-06 15:32] Wgrahamt opened #419 "Erroneous result "No DirectX 12, but WDDM2""
Running on my Dell Lattitude E6520 (Intel(R) Core(TM) i7-2720QM CPU @ 2.20GHz) laptop with an Nvidia NVS 420 graphics card running Windows 10 Build 19043.1081  - I get this result
![image](https://user-images.githubusercontent.com/87027325/124625354-a1154e00-de75-11eb-89fc-c18152ab7fdf.png)

Whereas if I run dxdiag.exe I get the result in the text file:-
[DxDiag(1).txt](https://github.com/rcmaehl/

[2021-07-06 17:01] rcmaehl commented on #419
You have DX12 software installed but per your Direct3D, DDI, and Feature level your card does not support DX 12. This is supported per TechPowerUp

https://www.techpowerup.com/gpu-specs/quadro-nvs-420.c1448

[2021-07-06 19:05] htcfreek commented on #417
Will be fixed soon.

Please assign me

[2021-07-06 19:06] htcfreek commented on #417
I get the correct values in my wmi query. So I am sure we get aligned with erplorer, etc.

[2021-07-06 20:05] htcfreek commented on #417
Work in progress.

[2021-07-06 20:05] htcfreek commented on #400
work in  progress

[2021-07-06 20:06] htcfreek commented on #385
work in progress

[2021-07-06 20:27] htcfreek opened #421 "[Translation] Allow multi replacement"
Improve translate function to allow multi replacement.

[2021-07-06 20:27] htcfreek commented on #421
in progress

[2021-07-06 20:27] #421 closed

[2021-07-06 20:46] micwoj92 commented on #421
Why close?

[2021-07-06 21:23] krystian3w commented on #417
136 gigabytes ≈ 126.65987 gibibytes

[2021-07-06 21:26] krystian3w commented on #421
Maybe Transifex or Crowdin.

[2021-07-06 21:28] htcfreek commented on #421
@micwoj92
Because I wan't first do the other implementations and don't need it for this.

[2021-07-06 21:29] htcfreek commented on #417
The MS "Check Health Tool" is incorrect.

[2021-07-06 21:29] krystian3w commented on #402
See these:
[code]

Based on: https://github.com/DandelionSprout/adfilt/blob/master/JapaneseTextSoftener.txt

[2021-07-06 21:35] micwoj92 commented on #417
@krystian3w you should do other way around and see that it is right,
because ms application rounds up to whole GBs

W dniu wtorek, 6 lipca 2021 krystian3w ***@***.***>
napisał(a):

https://ci5.googleusercontent.com/proxy/cuO5XHmmKuBKUnxH4Ho_Tj93GhNWIwHaEffyBU6Iyl8PzdWrXO7F38vFyRoAeD1rhtkki6QyV-QYVB5x2mCIKfv2qB0U9LucZVhG2sKXfu2NxB7T2zWN34AZtAjqOybtt-ZQ3yOC4WvoU64h-h4W9gg3aOHFFSYfn216snq143tgjuA4k7K

[2021-07-06 21:40] krystian3w commented on #417
I can't without papper or in Calc Sheet:

https://www.wolframalpha.com/input/?i=126.65987+GiB+to+GB similar rounding in Google "box" results calculation.

[2021-07-06 21:51] micwoj92 commented on #417
I don't even know what point you are trying to make now.

[2021-07-06 21:56] pklion commented on #402
Sorry for late reply.
I recommend Meiryo(メイリオ) or Yu Gothic(游ゴシック) because they are used widely and installed by default.
Also Noto Sans CJK and M+ fonts are good choices.

[2021-07-06 22:01] krystian3w commented on #417
I only converted values `126.98 * (2^30/10^9) ≈ 136.343737` - so MS reverted app rounded 0.34 to "0".

[2021-07-06 22:52] htcfreek opened #422 "[Code] Translation function not working correctly"
The translation function not working correctly and isn't parameterized very well.

See my hopefully working fix here: https://github.com/htcfreek/WhyNotWin11/commit/d55c4f51cced510b42e399f87283d0afff0ff30b

[2021-07-06 22:55] htcfreek commented on #412
@rcmaehl
1. Your includes are broken. (See fix here: https://github.com/htcfreek/WhyNotWin11/commit/9a24e7d6a2e446e0e8d5973475a66b20dfa8eeb0)
2. The lang copy is broken. It crashed my changed lang files. (Don't know why.)

[2021-07-06 22:59] micwoj92 commented on #412
As far as I know you are using this IDE called "ISN AutoIt Studio" while Robert uses Scite, could you try with Scite and see if it still is issue?

[2021-07-06 23:01] htcfreek commented on #412
1. The includes are working now. The error came from Wrapper and tidy.
2. The lang files aren't broken. But the doesn't get read.

_Let me work tomorrow on this. It's time for sleeping. 😅_

[2021-07-06 23:04] htcfreek commented on #385
What I have so far on the feature branch in my fork:
![image](https://user-images.githubusercontent.com/61519853/124676653-3a1c8700-debf-11eb-8ea0-4b9c9cb50b54.png)

[2021-07-06 23:09] micwoj92 commented on #385
Thanks for sharing progress, you can submit pr that is marked as draft so it will be easier to check the improvements you have made.

[2021-07-06 23:11] htcfreek commented on #417
My plan is to get nearly the same result as in explorer (windows partition) and disk management (disk).

[2021-07-06 23:13] htcfreek commented on #385
Let me do tomorrow.

[2021-07-07 00:56] micachi commented on #417
If so, why is the 64 GB model of Surface Go 2 an updatable model?

[2021-07-07 04:01] htcfreek commented on #417
Only Microsoft does know this.

[2021-07-07 05:07] htcfreek commented on #412
@rcmaehl
Csn you please stop doing this .\ things while including. This breaks code. You need "Includes\...au3".

See here: https://www.autoitscript.com/autoit3/docs/keywords/include.htm

[2021-07-07 05:09] savaloi commented on #308
This appears to happen even when 'default windows mode' is set to 'Dark', and 'default app mode' is set to 'Light'.
Even setting both back to 'Light' and re-running the app results in the same black window... Thought this might help
Tested on the latest v2.3.0.5 and deleted the content from %localappdata%\WhyNotWin11 - still no good.

Not sure Dark mode in Windows is the issue?
I'm on Win10 1909 F

[2021-07-07 05:10] rcmaehl commented on #308
Please try
https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip

[2021-07-07 05:52] htcfreek commented on #412
@rcmaehl
I have added a new group "Folder/file structure" to the checklist.

[2021-07-07 06:55] Dragon1573 commented on #422
I'm currently using **v2.3.0.5**. It's installed via my private [**Scoop Bucket**](https://github.com/Dragon1573/Scoop-Bucket/blob/main/bucket/whynotwin11.json). After installation, it only shows an _English Interface_ for me when I lauch this application.

How can I switch to _Simplified Chinese_? I can't find any button for this language setting.

![image](https://user-images.githubusercontent.c

[2021-07-07 06:59] micwoj92 commented on #412
How does that break?

W dniu środa, 7 lipca 2021 Heiko ***@***.***> napisał(a):

code. You need "Includes...au3".

https://ci6.googleusercontent.com/proxy/Iq2A_f6artfSJOjZCOk8ARxTW6MWnOqTC8mWUbRFYvhf3CufzMBtyG0GRRoHbyE5RKgW3n7wDV10n0JcSAH641A4-YG_DcYS-4d73qDx-qPXzzjF_PRopttIZQBuk_gplf_8FivWehqy6qFkXSNrHI_D_igyUHIsXfBfyGNNoF76GMsFPS3dEgo-Ej7TYu7TGEnGrXwYUJAZUfUh6Gd7SbSe9KApKWR3DxbPw45Plg=s0-d-e1-ft

[2021-07-07 07:01] micwoj92 commented on #422
@Dragon1573 is your operaring system in Simplified Chinese?

W dniu środa, 7 lipca 2021 べ断桥烟雨ミ ***@***.***> napisał(a):

After installation, it only shows an English Interface for me when I lauch
this application.

language setting.

https://ci5.googleusercontent.com/proxy/0J3CJvojODFyx9fGYB-svZB-VkXOvdvQWqJ5wbMrIrH6IlTjsgG7bR4ewoEDyUNvZxeu8rz2EBb0uhzU7x5MWtZqpoZljTxDpsLjY7T6pCf_8JszE0MCeAKSH3clEm

[2021-07-07 07:10] htcfreek commented on #412
@micwoj92
The include files/assets aren't found/included. Wrapper and Check saying that files aren't available.

[2021-07-07 07:13] htcfreek commented on #422
@Dragon1573
Do you running a dev build?

For me in last build (Fork from yesterday evening German time.) I can't get the updated lang file to work.

[2021-07-07 08:31] Dragon1573 commented on #422
Yes, it is! I'm currently using:

-  **Windows 10 Home China** (家庭中文版) 21H1 (19043.1081)
- Windows Feature Experience Pack 120.2212.3530.0.

And here are the system language configurations of my device. All of them are displayed in Simplified Chinese.

![image](https://user-images.githubusercontent.com/49941141/124726802-ad1a1200-df40-11eb-9f8a-bc4aa2ae4014.png)

[2021-07-07 08:51] Dragon1573 commented on #422
Sorry, I can't make sure which build (stable & dev) am I currently running. Maybe I'm currently running a stable version?

The Auto-Update features of that [_Scoop Bucket_](https://github.com/Dragon1573/Scoop-Bucket) was enabled with [_GitHub Actions_](https://github.com/Dragon1573/Scoop-Bucket/actions/workflows/checkver.yaml). According to my [configurations](https://github.com/Dragon1573/Scoop-B

[2021-07-07 10:56] Vengirni commented on #415
If a CPU passes the CPU Generation check already, it means, among other things, that it already has firmware TPM available, so we could have a bunch of them dealt with that way.

[2021-07-07 13:03] rcmaehl commented on #422
![image](https://user-images.githubusercontent.com/716581/124763562-1af31900-df02-11eb-848d-0269cea35343.png)
I'm unable to reproduce. When is it not working properly @htcfreek

[2021-07-07 14:01] htcfreek commented on #422
Let me make the PR and then you can check my branch. (I startet the non-cumpiled after adding strings on an English system.)

[2021-07-07 14:12] Wgrahamt commented on #419
Hi Robert,

Thanks for your prompt reply.  I must apologise since I have quoted you the wrong Nvidia card … my laptop has a NVS 4200M.

I’ve just found a more recent driver, so I’m going to install that first.

Regards

Graham

From: Robert C. Maehl ***@***.***>
Sent: 06 July 2021 18:02
To: rcmaehl/WhyNotWin11 ***@***.***>
Cc: Wgrahamt ***@***.***>; Author ***@***.***>
Subject: Re: [rcmaehl/WhyNot

[2021-07-07 14:15] rcmaehl commented on #419
Ah, you have another one of the darn DirectX 12 "API" cards. These cards partially support DirectX 12 but not all of it. This will be resolved by #58

[2021-07-07 15:32] htcfreek commented on #422
@rcmaehl
Which id does your language have? I found a 0407.lang and an empty 407.lang in `%localappdata% ` folder yesterday.

If I am right it can be the problem that on integer trailing 0 gets lost. Then we should chang the input parameter to String.

[2021-07-07 15:33] rcmaehl commented on #422
0409 is English. I renamed 0408 to 0409 to test, but I'll install a locale pack to test if there's still an issue

[2021-07-07 15:47] htcfreek commented on #422
Offtopic:
How can I rebase a feature branch of my fork against your main branch?

[2021-07-07 16:44] Wgrahamt commented on #419
Got hold of the latest Windows 10 driver for the NVS 4200M and installed it - WhyNotWin11 gives a green pass for DirectX 12 & WDDM

Although the NVS 4200M still says DirectX 11 Support

Now, I’ll hopefully fix TPM by enabling in BIOS and plan change from MBR to UEFI in BIOS.

Thanks for your time and attention.

Graham

From: Robert C. Maehl ***@***.***>
Sent: 07 July 2021 15:16
To: rcmaehl/WhyNot

[2021-07-07 16:55] rcmaehl commented on #419
Closing per confirmed resolution

[2021-07-07 16:55] #419 closed

[2021-07-07 17:41] micwoj92 opened #428 "warning, $hInfo: declared, but not used in func."
Log from CI:
[code]

https://github.com/rcmaehl/WhyNotWin11/blob/24b5ff99a715d22afc941ea01cf7db7b2a2cfcff/WhyNotWin11.au3#L402

[2021-07-07 17:42] rcmaehl commented on #428
It's used in line 414 and 417 ¯\\_(ツ)\_/¯

[2021-07-07 17:43] micwoj92 commented on #428
Does this warning also happen on autoit beta?

[2021-07-07 17:44] micwoj92 commented on #422
@htcfreek

![image](https://user-images.githubusercontent.com/45581170/124805418-c41a2d80-df5b-11eb-9fe7-67446cf01079.png)

[2021-07-07 17:46] htcfreek commented on #422
So I have to fetch and metge into my main and from there into my feature branch?

[2021-07-07 17:49] micwoj92 commented on #422
No, you can do it directly into your feature branch, just go to that branch and then click on it, when there are conflicts it will show you editor where you can fix these.

[2021-07-07 17:55] rcmaehl commented on #428
Yes

[2021-07-07 23:57] NorioFujii opened #430 "Intel(R) Pentium(R) Gold G6405 CPU @ 4.10GHz 4.10 GHz Is not included!"
**All Checks**
- Download and run the latest build https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip
- Attach a picture of your WhyNotWin11 Results
- Attach required information based on the category:

**Architecture, CPU Compatibility, CPU Core Count, and CPU Frequency**
- Please run `taskmgr`, select Performance, then CPU, and attach a screenshot of the output
- Please run

[2021-07-08 03:06] #430 closed

[2021-07-08 03:43] rcmaehl commented on #395
Please review the latest dev build and advise on tips.

[2021-07-08 03:43] rcmaehl commented on #271
Please review the latest dev build and advise on tips.

[2021-07-08 04:01] #428 closed

[2021-07-08 04:07] #402 closed

[2021-07-08 04:08] rcmaehl commented on #402
Please test the latest dev build.

[2021-07-08 06:48] mlipok commented on #428
Will check this.
Please open and assign to me.

[2021-07-08 07:40] Dragon1573 commented on #422
# Reproduce steps

1. First make sure a **Powershell** distribution is installed on your device. The following steps are based on it. The latest **Powershell Core 7** (`pwsh.exe` should be included in your `%PATH%`) is recommended.
2. Install the latest **[Scoop](https://github.com/lukesampson/Scoop)** distribution.
3. Attach my [private bucket](https://github.com/Dragon1573/Scoop-Bucket) to **Sco

[2021-07-08 08:01] Oleg-Chashko commented on #271
@rcmaehl

Download latest stable release -> It starts and runs ok.
Download latest testing release -> Runs, but doesn't work.
Compiling -> Runs, but doesn't work.

<img width="361" alt="Screen Shot 2021-07-08 at 08 54 53" src="https://user-images.githubusercontent.com/62497891/124878407-5ce89180-dfcc-11eb-8a78-d2ccdd81b601.png">

---
AutoIt v.3.3.14.5
Windows v.11 Dev 22000.51 (Juni 2021)
VMware F

[2021-07-08 08:10] Dragon1573 commented on #422
I think it's my fault ≧ ﹏ ≦

I previously installed _v2.2.x_ and _v2.3.0.1_, they release several resources to `%LOCALAPPDATA%\WhyNotWin11`. But this is the key point! In the JSON (un)install configuration file of my private Scoop Bucket, I didn't configure a step to remove the whole `%LOCALAPPDATA%\WhyNotWin11` folder after uninstallation. These files will simply stored in my device as some "garb

[2021-07-08 08:19] htcfreek commented on #271
@rcmaehl
1. The msgbox title should be the app title and not the on in screenshot of @Oleg-Chashko .

2. Latest dev build failed to run with `array var out of dimension`!!

[2021-07-08 08:23] Oleg-Chashko commented on #271
@rcmaehl

CPU Name=Requires physical replacement on Desktops; Not replaceable on Laptops. -> Please consult your device manual for details.
CPU Cores= Requires physical replacement on Desktops; Not replaceable on Laptops. -> Please consult your device manual for details.
CPU Speed= Requires physical replacement on Desktops; Not replaceable on Laptops. -> Please consult your device manual for detai

[2021-07-08 09:20] Oleg-Chashko commented on #271
Example:
CPU Speed=The rate that your CPU processes tasks.

Preferably, take information from official sources.

The clock speed measures the number of cycles your CPU executes per second.
https://www.intel.com/content/www/us/en/gaming/resources/cpu-clock-speed.html

P.S.: This is just one example. I think you understand what I wanted to say.

[2021-07-08 10:24] mlipok commented on #428
Current version does not have this problem

[2021-07-08 10:54] htcfreek commented on #395
The plan was to show the minimum requirements and not to help user to fox check.

Where could we place the requirements?

[2021-07-08 11:48] Oleg-Chashko commented on #271
@rcmaehl

Results Based on Currently Known Requirements! -> Switch to a tooltip on hover "I".
We need to make a list: CPU and video cards and CPUs with integrated video cores.
In order for the computer owner to know what is required to upgrade to Windows 11.
The list should be 100% correct so the user won't complain! Example: Oops, i bought CPU and it doesn't fit.

P.S.: Or something similar, at y

[2021-07-08 11:53] pklion commented on #402
@rcmaehl I can't test it because there is an error when running...
![image](https://user-images.githubusercontent.com/78145811/124917170-77535700-e02e-11eb-8a6a-be7f35ba090a.png)

[2021-07-08 11:53] pklion commented on #402
Should I make a new issue?

[2021-07-08 12:08] rcmaehl commented on #402
No. Let me make changes

[2021-07-08 12:41] pklion commented on #402
@rcmaehl Thank you so much.
It looks really good! :-)
But it doesn't work without admin permission though....
Thank you for implementing!
![image](https://user-images.githubusercontent.com/78145811/124922674-aff62f00-e034-11eb-8a98-83b0de352e5b.png)
(image when run as admin)
![image](https://user-images.githubusercontent.com/78145811/124922961-f64b8e00-e034-11eb-94ea-16863f744d3a.png)
(image when

[2021-07-08 13:02] rcmaehl commented on #402
Odd, I'll look into that admin issue

[2021-07-08 13:55] Prometheus1400 opened #438 "New CPU Requirements"
It seems Microsoft has updated the CPU requirements to:
<html>
<body>

Processor: | 1 gigahertz (GHz) or faster with 2 or more cores on a compatible 64-bit processor or System on a Chip (SoC)
-- | --

</body>
</html>

found on: https://www.microsoft.com/en-us/windows/windows-11-specifications

[2021-07-08 14:03] rcmaehl commented on #438
`compatible 64-bit processor` links to http://aka.ms/CPUlist which are

https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-amd-processors
https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors
https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-qualcomm

[2021-07-08 14:23] Prometheus1400 commented on #438
Sorry, I could be wrong then.
Would you happen to have any insight why my processor, "Intel(R) Core(TM) i7-8705G CPU @ 3.10GHz, 3096 Mhz, 4 Core(s), 8 Logical Processor(s)", is not listed as it meets the 1 GHz, 2 core, and 64 bit requirements?

[2021-07-08 14:29] rcmaehl commented on #438
It appears not to be listed in the official intel supported list.
![image](https://user-images.githubusercontent.com/716581/124939650-4a278a00-dfd7-11eb-9211-2ed9b9a3f62e.png)

To be fair, the list is completely arbitrary and a lot of the tech media is upset at where Microsoft has cut off CPUs. I wouldn't be surprised if this changes before release.

[2021-07-08 14:31] JohnLGalt commented on #438
Those 'requirements' in the OP are not new, they are the same as listed the day of the announcement.

That is the hard floor also mentioned 2 days after the original Win11 announcements.

@rcmaehl already has the actual lists that M$ is saying they support.

[2021-07-08 14:33] JohnLGalt commented on #438
Furthermore, realize 2 things:

The CPU chosen to run Windows 11 must meet, at the very least, the requirements in the OP.  In order to be **supported** by M$, they must be on the list.

But all of this is still subject to change, as it's only been a couple of weeks.

[2021-07-08 14:39] rcmaehl commented on #415
I'll have to verify this, but if true I'll make a note of it

[2021-07-08 14:44] Prometheus1400 commented on #438
Ah okay, it makes sense to me now. Thank you both for explaining!

[2021-07-08 14:44] #438 closed

[2021-07-08 15:10] JohnLGalt commented on #415
It has to be enabled via the UEFI Settings.  And different OEMs have different prerequisites in order to enable it.

And, finally, my understanding is that PTT / fTPM is not directly in the CPU, the CPU supports it - the actual implementations are in the chipset.

[2021-07-08 15:33] Oleg-Chashko commented on #271
@rcmaehl

Can you post a working the latest dev build?

[2021-07-08 15:56] rcmaehl commented on #271
https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip will always link to whatever the newest dev build is

[2021-07-08 16:07] Oleg-Chashko commented on #271
@rcmaehl

_Can you post a **working** the latest dev build?_
I asked for a working version of the build. And this build does not work.

<img width="329" alt="Screen Shot 2021-07-08 at 18 00 50" src="https://user-images.githubusercontent.com/62497891/124955166-23894380-e017-11eb-8c3a-97f4236813d3.png">

[2021-07-08 16:09] rcmaehl commented on #271
It looks like you're on Windows 11. Let me remove the check temporarily

[2021-07-08 16:21] Oleg-Chashko commented on #271
@rcmaehl

Yes it is Windows 11. I'm going to uninstall Windows 11 and install Windows 10 so you don't have to change anything. I don't use the Windows operating system anyway.

Windows v.11 Dev 22000.51 (Juni 2021)
VMware Fusion Pro v.12.1.2 (17964953)

[2021-07-08 16:28] htcfreek opened #440 "Lang files missing word"
Lang files missing translation for "Warning".

[2021-07-08 16:51] htcfreek opened #443 "Who does update the accessibility version?"
The strings and checks in accessibility are hardcoded. Who will update them?

Is it possible to get mouse focus and ready values from control to translate them?

[2021-07-08 16:53] rcmaehl commented on #443
Accessibility code will be changed from a message box to a setting in the settings menu, strings updated to be in translations, and other fixes come 2.3.2

[2021-07-08 16:56] NorioFujii commented on #430
Thank you for your adding CPU name, but Pentium Gold cpu name is incorrect.
(Bad )   Pentium(R) Gold CPU G6405
(Good) Pentium(R) Gold G6405 CPU

All of  Gold-name will be wrong.

![WhyNotWin11 G6405](https://user-images.githubusercontent.com/39148371/124961724-c9a96d80-e058-11eb-9b8a-3deadae0fea6.png)

[2021-07-08 16:58] rcmaehl commented on #430
Yep. My bad. Messed up the replace

[2021-07-08 17:00] htcfreek commented on #443
I mean can we get the strings from control. Because at the moment we do the check in accessibility version again. And I don't if I have to update them?!

[2021-07-08 17:01] rcmaehl commented on #443
Accessibility was merged in because I got tired of the PR being open. Accessibility is WIP and not implemented in active code right now.

[2021-07-08 17:33] htcfreek opened #444 "[Gui] Replace OK by checkmark"
OK -> ✓ (U+2713)

This resolve not translated "OK" and is aligned with the other symbols.

[2021-07-08 18:49] Vengirni commented on #415
The big4 MOBO manufacturers have all released which series are compatible:

https://www.asrock.com/news/index.asp?iD=4696
https://www.asus.com/us/support/FAQ/1046215/
https://www.gigabyte.com/Press/News/1925
https://www.msi.com/news/detail/MSImotherboardisreadyforWindows11122145

[2021-07-08 18:59] Oleg-Chashko commented on #271
@rcmaehl

At this point in time:

<img width="1035" alt="Screen Shot 2021-07-08 at 20 02 53" src="https://user-images.githubusercontent.com/62497891/124976066-111b0400-e02f-11eb-9897-b6fd7c692884.png">

Would like:

<img width="814" alt="Screen Shot 2021-07-08 at 20 04 21" src="https://user-images.githubusercontent.com/62497891/124976087-16784e80-e02f-11eb-9179-862f4efc98a3.png">

[2021-07-08 19:03] rcmaehl commented on #271
Yeah, I'll need to add support for new lines \n like I did in NotCPUCores. Expect it Soon:TM:

[2021-07-08 20:31] RgA59 opened #446 "Icons / Taskbar corner overflow"
Why am I seeing this under Personalization > Taskbar > Taskbar corner overflow? if turned ON nothing shows in the Taskbar. Can't find any reference in Apps or Services. What is your app installing that we're not aware of?

![Screenshot 2021-07-08 172729](https://user-images.githubusercontent.com/82942602/124986464-0140f700-e012-11eb-800e-234d81a9a4e8.png)

[2021-07-08 20:34] rcmaehl commented on #446
Taskbar icon is hidden because it's not needed. You can see this here:
https://github.com/rcmaehl/WhyNotWin11/blob/main/WhyNotWin11.au3#L64

Feel free to remove the line and compile per the instructions in README if you want a version with the icon.

[2021-07-08 20:38] RgA59 commented on #446
how do I remove the line from there? I have no idea how to compile anything

[2021-07-08 20:40] RgA59 commented on #446
I just want that message out of Settings, please guide how to get rid of it. TIA

[2021-07-08 20:42] rcmaehl commented on #446
Looking up how to remove that now. It'll be just a bit.

[2021-07-08 20:43] RgA59 commented on #446
ok thanks

[2021-07-08 20:50] micwoj92 commented on #446
@RgA59 It installs Linux 11

[2021-07-08 20:50] rcmaehl commented on #446
You can remove the listing by

1. Open Regedit
2. Navigate to HKEY_CURRENT_USER\SOFTWARE\Classes\Local Settings\Software\Microsoft\Windows\CurrentVersion\TrayNotify
3. Delete IconsStream and PastIconsStream

Then

4. Log out and back in

or

4. Run cmd
5. Run taskkill /f /im explorer.exe
6. Run explorer.exe

This is per Windows 10. Your original question seems that you may be on Windows 11, but it

[2021-07-08 20:52] RgA59 commented on #446
ok I'll give a try and let you know, thanks!

[2021-07-08 20:57] RgA59 commented on #446
didn't work

[2021-07-08 21:11] rcmaehl commented on #446
Give me a bit too look into clearing it manually. Alternatively, if you use ccleaner at all just clear all the caches using it.

[2021-07-08 21:14] RgA59 commented on #446
I'd rather wait for you, I don't use nor trust cccleaner. Wonder if you can insert a line in the script, run the app again and the message's gone, possible?

[2021-07-08 21:18] htcfreek commented on #440
work partial in progress

[2021-07-08 21:42] RgA59 commented on #446
I used Partition Wizard to clean the icons cache and that got rid of it, however it also deleted others that i still have in RecycleBin. Can you tell which iconcache belongs to your app?

![Screenshot 2021-07-08 183936](https://user-images.githubusercontent.com/82942602/124994371-2175b380-e01c-11eb-85b1-1655b4d437ac.png)

[2021-07-08 21:49] htcfreek commented on #422
@rcmaehl
Today it is working for me.

[2021-07-08 21:50] htcfreek opened #447 "[Translation] Translation on loading bar"
Text on loading bar isn't translated.

[2021-07-08 22:11] micwoj92 commented on #440
I think you should open separate pr for it instead of doing everything at once. Especially that it is such small thing that could be merged now.

[2021-07-09 00:17] htcfreek commented on #412
@micwoj92
Can you please add "In-progress" lable.

[2021-07-09 00:18] htcfreek commented on #388
@micwoj92
Can you please add "In-progress" lable.

[2021-07-09 01:25] micwoj92 commented on #119
Closing, same things (linked pdf) were discussed in #136 and it got more activity.

[2021-07-09 01:25] #119 closed

[2021-07-09 01:34] Scrotos opened #451 "Symantec Endpoint Protection blocking app"
Just a heads up that a prior version got blocked.  I downloaded the latest version and no block yet.  I don't know if anyone else has run into this but if you do:

https://symsubmit.symantec.com/
https://community.broadcom.com/symantecenterprise/communities/community-home/librarydocuments/viewdocument?DocumentKey=bf76e9b6-157b-4246-acf7-e4535b958018&CommunityKey=1ecf5f55-9545-44d6-b0f4-4e4a7f5f5e6

[2021-07-09 01:39] rcmaehl commented on #451
Yep. Releases used to happen to often no reputation could be made. Releases are coming out about once a week now. #49

[2021-07-09 01:39] #451 closed

[2021-07-09 01:47] Scrotos opened #452 "Should ignore virtual display driver from Citrix"
If you find Citrix Indirect Display Adaptor, you should ignore that entirely for any checks or reporting.  I'm unsure what it may be called in other versions of Citrix Workspace or Citrix Receiver.  (check lower right of pic)

![image](https://user-images.githubusercontent.com/80605830/125011194-3276f280-e025-11eb-8049-d90001fbd5d7.png)

[2021-07-09 04:22] #444 closed

[2021-07-09 05:33] htcfreek commented on #452
Oops. This is definitely a bug in our check. 😅

[2021-07-09 10:26] Oleg-Chashko commented on #271
Maybe sometime in the future, add a resolution check for Display and Internet connection?
These are requirements for Windows 11 Home.
<img width="786" alt="Screen Shot 2021-07-09 at 12 19 08" src="https://user-images.githubusercontent.com/62497891/125064282-c6da6700-e0b0-11eb-99ec-c8361accfae2.png">

[2021-07-09 10:33] NordinMarkow opened #455 "Nvidia Geforce GTX1080Ti Grafikkarte DirectX + WDDM2 rot"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-07-09 10:34] NordinMarkow commented on #455
Nvidia Geforce GTX1080Ti Grafikkarte DirectX + WDDM2 rot

vermutlich liegt das hier auch am zusätzlich vorhanden Citrix Indirect Display  Adapter

![image](https://user-images.githubusercontent.com/87181725/125065252-e45c0080-e0b1-11eb-903d-1f304e747e54.png)

![image](https://user-images.githubusercontent.com/87181725/125065280-ecb43b80-e0b1-11eb-8259-30ff301fe404.png)

[2021-07-09 10:36] micwoj92 commented on #271
https://github.com/rcmaehl/WhyNotWin11/issues/116

[2021-07-09 10:38] micwoj92 commented on #455
Duplicate #452

[2021-07-09 10:38] #455 closed

[2021-07-09 11:28] Oleg-Chashko commented on #271
Maybe that's enough of a description?

- Architecture: Windows 11 requires a 64-bit processor and operating system. If you are using a 32-bit OS but your CPU supports 64-bit, you need to wipe the drive and reinstall Windows.

- Boot Mode: Windows 11 is UEFI-only. Legacy BIOS is not supported.

- CPU Compatibility: Windows 11 requires a compatible 64-bit processor:
• Intel Core 8th Gen and above.
•

[2021-07-09 11:38] Oleg-Chashko opened #456 "Add Internet connection check"
Add Internet connection check.
Windows 11 Home edition requires internet connectivity and a Microsoft account to complete device setup on first use.

[2021-07-09 11:39] micwoj92 commented on #456
I don't think it's necessary. How else would you download this application?

[2021-07-09 11:45] Oleg-Chashko commented on #456
@micwoj92
That's an option you didn't consider?
What makes you think I downloaded it from the Internet. An acquaintance gave it to me on a usb flash drive.

[2021-07-09 11:50] micwoj92 commented on #456
Yes, and then you also got windows 11 bootable usb.
I understand your point, but there is such low probability of that.

[2021-07-09 12:10] Oleg-Chashko commented on #456
@micwoj92

Are you sure that all the computers where Windows 11 will be installed will be connected to the Internet?
I'm not so sure about that.

_Yes, and then you also got windows 11 bootable usb._
As surprising as this may sound. But, I all my software on my server. And I exchange a lot, via USB flasher.

_I understand your point, but there is such low probability of that._
It depends on what c

[2021-07-09 12:45] Oleg-Chashko commented on #456
I will say this, I am in Germany and here in some villages there is no wired Internet and no mobile normal, people have to go up the mountain to make a call. Deutsche Telekom does not want to install cable because it is not profitable. There is a private satellite Internet for the whole village. With a gigabyte fee for Internet traffic.

[2021-07-09 12:54] JohnLGalt commented on #415
Exactly.  It's the chipsets.  Because as noted on both the ASRock and MSI websites above, 100 & 200 series Intel chipset-based boards are "capable" of TPM support for Win11, though the processors compatible with those boards (6th / 7th gen Intel CPUs) are not on the list of officially supported CPUs, even though plenty of people with both those generations of CPUs have been able to successfully in

[2021-07-09 12:55] micwoj92 commented on #456
It's not my project.

[2021-07-09 12:56] JohnLGalt commented on #456
A simple warning stating that Internet is required should suffice.

[2021-07-09 12:57] Oleg-Chashko commented on #456
Oh, I'm sorry, I didn't know that.

[2021-07-09 13:00] TieLay opened #458 "Black background in Windows 8.1"
**Fonts and backgrounf are black**
So in Windows 8.1 x64 any type of tool

**To Reproduce**
run tool

**Screenshots**
https://disk.yandex.ru/i/f0hA9Y5OW-ixZA

**Desktop (please complete the following information):**
 - OS: Windows 8.1 x64 with .NET 4.8 & updates on 09 july 2021
 - Version 2.3.0.5

[2021-07-09 13:15] micwoj92 commented on #458
This is already resolved, please check latest dev version.

[2021-07-09 13:15] #458 closed

[2021-07-09 13:31] krystian3w commented on #456
@JohnLGalt and maybe detect exist license.

[2021-07-09 13:54] Oleg-Chashko commented on #456
Yeah, that's a good idea. The program checks the current license and if the Home version of Windows is installed. It displays a warning that the Internet is required.

[2021-07-09 14:24] htcfreek opened #459 "[Gui] Mark warning text for color blind user"
According to accessibility guidelines we should mark warning and Important sentence with a `*` like `* The results ...`.
This would help users that can't different between the colors (e.g. red-green-weakness or color blindness).

[2021-07-09 17:32] ed-br opened #460 "Vulnerability-Disclosure WhyNotWin11, the ReadySunValley app an alternative?"
Hi,
I read your [Vulnerability-Disclosure](https://github.com/rcmaehl/WhyNotWin11/wiki/Vulnerability-Disclosure-07-09-2021) and also use the open source alternative app [ReadySunValley](https://github.com/builtbybel/ReadySunValley)

It also features a function built in to download WhyNotWin11 and to compare results between these two apps.

If your app is insecure, then that app should not be able

[2021-07-09 17:39] micwoj92 commented on #459
@rmcpantoja

[2021-07-09 17:43] micwoj92 commented on #460
That vulnerability has been fixed and there are many alternatives to this application. Feel free to use whichever fits your needs best.

[2021-07-09 17:43] #460 closed

[2021-07-09 19:36] htcfreek commented on #459
work in progress

[2021-07-09 19:40] htcfreek commented on #447
work in progress

[2021-07-09 19:48] htcfreek commented on #440
work in progress

[2021-07-09 22:20] #440 closed

[2021-07-09 22:20] #447 closed

[2021-07-09 22:20] #459 closed

[2021-07-09 22:53] #422 closed

[2021-07-09 22:54] htcfreek commented on #422
I closed zhe issue because it's working at the moment.

[2021-07-09 23:03] htcfreek commented on #388
We should add the color of "Results based on known requirements."-Note to theme definition file. => Then we can switch based on dark/light theme (yellow/red).

[2021-07-10 18:38] micwoj92 commented on #49
The issue will stay pinned but I'll close it, because it's not really something that can be fixed. Just report as false positives. Also the releases will be less often, so the executables from releases will have more time to get unflagged and get good scores on virustotal.

[2021-07-10 18:38] #49 closed

[2021-07-11 01:15] rcmaehl commented on #452
@Scrotos can you attach "save all information" from dxdiag on that machine?

[2021-07-11 07:52] bovirus opened #465 "Improvents - How to use CR/LF in strings"
**Describe the bug**

IOn the language strings there are some strings that are multiperiod.
How can add CR/LF to teh strings to separate period?

[2021-07-11 07:56] Taomyn commented on #308
Just downloaded latest, still not correct in when OS in dark mode - in light mode it's fine and the icons are in black

![image](https://user-images.githubusercontent.com/4365929/125187114-4b062900-e22e-11eb-9044-3ff5162ec9f2.png)

[2021-07-11 08:00] bovirus opened #466 "WhyNotWin11 2.3.1.0 - GUI Issues"
@rcmaehl

**Describe the bug**

Please check screenshot.

"Check update" translated is truncated as text.
I proposse to move this string in the new position on bottom and icnrease text string width

"Architecture" string is not translated and not available in language file.
Please add to the language file.

CPU/GPU on bottom right for me is not reported right (the strings about CPU seems in Englis

[2021-07-11 08:03] Oleg-Chashko commented on #271
@rcmaehl

- The distances are preferably the same.
<img width="326" alt="Screen Shot 2021-07-11 at 09 29 43" src="https://user-images.githubusercontent.com/62497891/125187047-ed71dc80-e22d-11eb-9275-702616c95801.png">

---
- It is preferable that the alignment be as before.
<img width="345" alt="Screen Shot 2021-07-11 at 09 20 29" src="https://user-images.githubusercontent.com/62497891/125187107-3

[2021-07-11 10:28] micwoj92 commented on #465
It doesn't matter if it's CR or LF but newline support for strings is being worked on

[2021-07-11 10:29] micwoj92 commented on #308
@Taomyn this is correct.

[2021-07-11 10:29] micwoj92 commented on #308
And it's actually solved now as far as I know so I will close it.

[2021-07-11 10:29] #308 closed

[2021-07-11 10:30] micwoj92 commented on #466
1 issue per ticket please. And for general UI improvements see https://github.com/rcmaehl/WhyNotWin11/issues/271

[2021-07-11 10:30] #466 closed

[2021-07-11 10:37] bovirus commented on #465
@micwoj92

LF and CR has a differnt function.

Example about this strings

A security module used by Windows. All modern AMD CPUs contain one; Some modern Intel CPUs contain one. Check your BIOS/UEFI settings. Refer to your motherboard manual.

How can make add newlines

A security module used by Windows.
All modern AMD CPUs contain one; Some modern Intel CPUs contain one. Check your BIOS/UEFI set

[2021-07-11 10:47] Taomyn commented on #308
Sorry, just realised I pasted the wrong screen shot as the first time I tried it I was running an older version

![image](https://user-images.githubusercontent.com/4365929/125192065-1605d080-e246-11eb-8e36-ab78a7ff34bb.png)
![image](https://user-images.githubusercontent.com/4365929/125192069-19995780-e246-11eb-83c5-d1d510303f61.png)

[2021-07-11 11:40] bovirus commented on #271
@rcmaehl

"Check update" translated is truncated as text.
I proposse to move this string in the new position on bottom and icnrease text string width

"Architecture" string is not translated and not available in language file.
Please add to the language file.

CPU/GPU on bottom right for me is not reported right (the strings about CPU seems in English).
For me the info should be reported as
CPU =

[2021-07-11 11:44] bovirus commented on #271
@rcmaehl

**Long multiperiod string with new line between period.**

Pelase consider for long string multiperiod to use  a new line to separate period.
This improve readbility. Ex.

TPM=A security module used by Windows. All modern AMD CPUs contain one; Some modern Intel CPUs contain one. Check your BIOS/UEFI settings. Refer to your motherboard manual.

The string

A security module used by Window

[2021-07-11 11:59] Rialtho-the-Magnificent opened #469 "cannot run, windows just doesn't allow it"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-07-11 12:53] rcmaehl commented on #469
Are you using the right version for your system. 32-bit windows needs WhyNotWin11_x86

[2021-07-11 12:58] Rialtho-the-Magnificent commented on #469
hi there, I've used the right version, but windows prevented me from
running so I used the 'more information' option and was able to run it. I
have a compatible system according to this program and also according to
the Microsoft tool. So problem solved.

Op zo 11 jul. 2021 om 14:53 schreef Robert C. Maehl <
***@***.***>:

--
---
René Wonnink

[2021-07-11 13:00] rcmaehl commented on #465
Currently for Descriptions new lines are added after every period. I don't believe any language uses multiple periods.

[2021-07-11 13:00] #469 closed

[2021-07-11 13:05] bovirus commented on #465
@rcmaehl

Please take care that I'm talkinhg about single long string with multiperiod phrases.
Not about newlinw between different string.

How can check it? I didn't see newline in the string then I cannot see th result.
The strings that I explained has no new line.
The enwline help teh suer to check the info well.
If the string is too long without newline the user attetion is securely less.

[2021-07-11 13:09] bovirus commented on #465
Some example aabout long strings multiperiod without newline

RAM=The amount of fast memory installed in your computer. Physically upgradeable in Desktops; Physically upgradeable in high end Laptops.
Secure Boot=A method your motherboard uses to load Windows. If not detected, can be fixed on newer motherboards in your BIOS/UEFI settings. Refer to your motherboard manual.
Storage=The amount of spac

[2021-07-11 16:23] micwoj92 commented on #308
@Taomyn Are you visually impaired or maybe are your monitor settings wrong? I can see icons in both of your screenshots and in initial bug report they are black squares.

[2021-07-11 16:38] Qazy147 opened #479 "WMI queries"
I don't know if it's useful, but quite often I see WMI calls look like this:
`ObjGet("winmgmts:{impersonationLevel=Impersonate}!\\" & @ComputerName & "\root\cimv2")`
If I understand it correctly, this could help when call without "impersonationLevel" fails.

Also, if target computer is local PC, query can be simplified to
`ObjGet("winmgmts:{impersonationLevel=Impersonate}!\\.\root\cimv2")`

[2021-07-11 16:52] Taomyn commented on #308
No, but I have 3 screens if I place it on each one there is nothing unless I kick the contrast up to stupid levels, but it's still black on dark grey. This is not a good look, why are the icons not white or a light grey which would at least be the opposite of the black.

[2021-07-11 16:54] micwoj92 commented on #308
Then this is another issue "[enchancement] theme aware icons" or something like this.

[2021-07-11 16:54] rcmaehl commented on #308
It's being worked on. They'll eventually use the same color as text

[2021-07-11 17:00] micwoj92 commented on #136
No response for a week and this "issue" is really general, so I will close it. There are already several open issues for adding specific checks and couple for improving existing ones. https://github.com/rcmaehl/WhyNotWin11/issues?q=is%3Aopen+is%3Aissue+label%3Achecks

[2021-07-11 17:00] #136 closed

[2021-07-11 23:30] arigayas opened #489 "Please Update the Japanese translation of "Boot Method"."
**Describe the bug**
In the English version, it is "Boot Method".
In Japanese translation, it is "BIOSの種類".

If you translate the Japanese translation of "BIOSの種類" into English, it becomes "BIOS Type", so it feels a little strange.
I think it is better to change to the Japanese translation of "起動方式".

It may be strange English because I used Google Translate.

**ScreenShots**
Japanese Version [2.3

[2021-07-11 23:33] micwoj92 commented on #489
@yuki-gh @goahi @syobon-tech @arakim

Could you guys discuss? Thanks.

[2021-07-12 01:04] garfin-au opened #490 "UI Display issue - Tickboxes not displaying corectly on v2.3.1.0/2.3.1.1 , was ok on 2.3.0.3"
![2 3 1 0](https://user-images.githubusercontent.com/8000828/125216117-7e18ed00-e300-11eb-810c-783a8769bf34.JPG)

Not sure what further to add.. machine is currently on Win10 Pro x64 Ver 1909.

[2021-07-12 01:08] micwoj92 commented on #490
Maybe you are missing some fonts or have them setup inproperly? checkmark is "10003" you can find how it should look like online.

[2021-07-12 01:09] garfin-au commented on #490
![h81m](https://user-images.githubusercontent.com/8000828/125216442-86bdf300-e301-11eb-8308-4d6380d1409d.JPG)
Ahh.. its just the 'Green' Checkbox it seems. (re-tested on a lesser system.)

[2021-07-12 01:18] micwoj92 commented on #490
My first guess would be to check the first build that introduced this checkmark to see if the issue is since beginning or since some other update https://github.com/rcmaehl/WhyNotWin11/runs/3025663646 (click on artifact and download)

And then check Windows character map for that symbol, maybe try different font in lang files?

[2021-07-12 02:55] garfin-au commented on #490
Yes, issue is in first build also. If nobody else is reporting issue, then maybe its just (some of) my pc's.  I just tried a 3rd machine and that one is displaying ok.  (Green is good , Red is bad... that's all that matters.)

[2021-07-12 05:50] andika207 opened #493 "Thanks for the support to XP"
I have read that minimum requeriments are Windows  8.1 but it still runs perfect on Windows XP

I see that W11 is pretty much the same shit as W10 so I'm gonna stick with my beloved XP for long years to come. (I do have better hardware than the one displayed below though)

Thanks 1000+

<a href='https://postimg.cc/zbFM8hdt' target='_blank'><img src='https://i.postimg.cc/RFkz1QwB/screenshot-1.png'

[2021-07-12 06:06] Oleg-Chashko commented on #493
@andika207

_I see that W11 is pretty much the same shit as W10!_

I completely agree with you! In addition, they are trying to go the way of Apple. They have raised the requirement for hardware. Which is obviously not justified in any way.

[2021-07-12 06:35] micwoj92 commented on #493
Yes, but it doesn't detect all things correctly there. Look for example at your ram amount. Just because somethings works, doesn't mean that there is support for it.

Ok, have fun running obsolete, outdated system without security patches. Also I see that (in standard windows xp user fashion) you are running outdated version of this software. Are you bragging, because you use old stuff?

[2021-07-12 06:35] #493 closed

[2021-07-12 07:30] bovirus opened #495 "exe v. 2.3.1 - Italian language file converterd in UTF-16 LE BOM"
**Describe the bug**
<br>A clear and concise description of what the bug is.

Running the exevv. 2.3.1 on Windows 10 64bit the italian language (0410.lang) saved in Langs folder is coded as text UTF-16 LE BOM.
All other languages are coded as UTF-8.
All language file are about 3 to 4 KB.
Italian languages is about 10 KB.

[2021-07-12 07:37] bovirus opened #496 "Version 2.3.1 - Github/Discord/LTT has no translation"
@rcmaehl

**Describe the bug**
<br>A clear and concise description of what the bug is.

The baloon help about Github/Discord/LTT has not translation

Proposal for baloon help

GitHub -> WhynotWin11 repository on Github
Discord -> WhyNotWin11 on Discord
LTT -> WhyNotWin11 on Linux Tech Tips

and explain better about donate link

Donate -> Donate to WhynotWin11 via Paypal

Thanks.

**To Reproduce**

[2021-07-12 07:54] htcfreek commented on #490
Which OS. I thought the char was available since unicode ??.

[2021-07-12 07:58] htcfreek commented on #490
Symbol should be available 1993 (Unicode 1.1): https://www.compart.com/de/unicode/U+2713

Could it be a missing font?

[2021-07-12 08:12] micwoj92 commented on #495
Shows 4.7 KiB (4,802 bytes) for me, so someone with Windows will have to confirm. There is absolutely ZERO need in pinging Robert in every issue you post. That will not make him open your issue faster.

[2021-07-12 08:14] micwoj92 commented on #496
Maybe that's because "Github/Discord/LTT" are the same word in each language?

[2021-07-12 08:14] #496 closed

[2021-07-12 08:46] yuki-gh commented on #489
I first translated it literally as 起動方式, but I don't stick to it.
BIOSの種類 is also understandable enough, and it doesn't break alphabetical order :-)

[2021-07-12 11:28] arigayas commented on #489
Thank you for understanding.

[2021-07-13 01:38] andika207 commented on #493
@micwoj92 I don't think it's wrong at all (4GB = 4194304KB) in fact I'm using a brazilian PAE patch which can break up the typical 3GB of RAM limit on 32-bit OS and with newer motherboards I can even reach the full RAM capacity (8GB)

[2021-07-13 02:02] andika207 commented on #493
I don't use any real-time anti-virus and XP works like a charm to me. I would not say an OS is obsolete if it's getting official updates until 2025 for the big companies that can afford to pay for it. What really kills Windows is an obsolete web browser but luckly there are some enthusiats across the world who still love XP and will be forking updated web browsers for XP.

[2021-07-13 02:12] micwoj92 commented on #493
It says 4194104 **GB** in picture which is clearly wrong.

This is not a good point. Appropriate amount of money can get you literally anything in this world.

What "kills Windows" are companies not supporting it. With each year passing it is harder and harder to support these systems. Of course nothing stops you from having "retro computing station" or whatever, but to use these systems on day to

[2021-07-13 02:27] andika207 opened #500 "Thanks for the support to XP"
''**_Repository owner locked as resolved and limited conversation to collaborators_**''
you must be allergic to XP if you lock down a closed issue without letting me post a reply !! https://github.com/rcmaehl/WhyNotWin11/issues/493

@micwoj92  just out of curiosity I tried out other newer versions but 2.3.0.1 seems to be the last fully functional one without glitches. (the 2.3.0.3 window is fully

[2021-07-13 02:30] rcmaehl commented on #495
FIle is showing UTF-8 for me as well.
![image](https://user-images.githubusercontent.com/716581/125380619-7721c700-e360-11eb-89e4-da407aa93b1d.png)

Even cloned a fresh copy of the repo to be sure
![image](https://user-images.githubusercontent.com/716581/125380742-afc1a080-e360-11eb-8325-8858a93215d1.png)

[2021-07-13 02:31] micwoj92 commented on #500
Because you are using an unsupported system and your "issue" isn't really issue anyway.

As I already said, it can work, but if it breaks then it will not be worked on.

I don't think that Windows XP was ever "supported" by wnw11.

[2021-07-13 02:31] #500 closed

[2021-07-13 02:31] Scrotos commented on #452
[DxDiag-citrix.txt](https://github.com/rcmaehl/WhyNotWin11/files/6805479/DxDiag-citrix.txt)

Here ya go!

[2021-07-13 02:33] micwoj92 commented on #500
And I did let you post reply. I could have locked the issue straight away. I just see no point in further conversation if we will only argue.

[2021-07-13 02:35] rcmaehl commented on #500
The code for Windows XP being noted as not supported has existed for a while. It was just broken while adding in command line parameters. XP is not supported but nice to see that it's "working"

[2021-07-13 02:40] micwoj92 commented on #489
#491 was merged, closing

[2021-07-13 02:40] #489 closed

[2021-07-13 03:31] andika207 commented on #500
@rcmaehl  I have just checked my browser downloads history and noticed that I first downloaded this utility from here two weeks ago BUT the 2.2.5.0 version is no longer listed on the github releases.... strange

it's not a big deal if it doesn't support XP but I could just open a request issue if necessary and you are interested on porting the source code to XP
this utility is still working correc

[2021-07-13 04:06] andika207 opened #502 "Thanks for the support to XP"
@micwoj92 you are terribly annoying. get a fucking life and move on !
it's the second time you close down my issue for no apparent reason. does freedom of speech exist in your country ?
I have had many closed issues on github but NOBODY has ever done what your are doing here stupid dictator !!

@rcmaehl @Oleg-Chashko
2.3.0.4 Loading WMIC.... is the last one that still works but I can read nothing

[2021-07-13 04:26] micwoj92 commented on #502
I did let you respond, I don't know what your problem is.

[2021-07-13 04:26] #502 closed

[2021-07-13 04:51] bovirus commented on #495
Sorry but I knopw very well wahts is UTF-8 and UTF-16 LE.

List of file - Pelase checl file size

![image](https://user-images.githubusercontent.com/1262554/125392402-685e0300-e3a6-11eb-9b21-2afc0ae3ce66.png)

File is surely ITF16 LE for teh fiel size and for the file type

![image](https://user-images.githubusercontent.com/1262554/125392629-cdb1f400-e3a6-11eb-9aff-b75157d32eaa.png)

[2021-07-13 05:41] rcmaehl commented on #495
May be an issue with file opening. 1 moment

[2021-07-13 05:45] rcmaehl commented on #495
https://github.com/rcmaehl/WhyNotWin11/blob/c87e2247041fd1925cd51f7ebcbbb35756fd2fe7/includes/_Translations.au3#L60

https://www.autoitscript.com/autoit3/docs/functions/FileOpen.htm

Yeah, the file gets opened in UTF16-LE. I can see about changing this.

[2021-07-13 07:45] nbmrjuhneibkr commented on #414
It was bad enough when it only said "Supported" without mentioning that it was disabled, but now this is just wrong.

![Untitled1](https://user-images.githubusercontent.com/8460563/125412042-34470a00-e3c7-11eb-8e0b-89cc580cd666.png)
![Untitled2](https://user-images.githubusercontent.com/8460563/125412064-e8ed1681-294f-4ce3-b67c-77fe5bfc499f.png)

[2021-07-13 11:11] Alvin-od opened #504 "it is not opening"
Download latest stable release:
https://github.com/rcmaehl/WhyNotWin11/releases/latest/download/WhyNotWin11.exe

_Originally posted by @Oleg-Chashko in https://github.com/rcmaehl/WhyNotWin11/discussions/499#discussioncomment-993171_

[2021-07-13 11:11] Alvin-od opened #505 "it is not opening"
Download latest stable release:
https://github.com/rcmaehl/WhyNotWin11/releases/latest/download/WhyNotWin11.exe

_Originally posted by @Oleg-Chashko in https://github.com/rcmaehl/WhyNotWin11/discussions/499#discussioncomment-993171_

[2021-07-13 11:52] rcmaehl commented on #414
May be an issue with the recent code refactoring. It still passes as the device is compatible but isn't showing full details

[2021-07-13 12:15] #504 closed

[2021-07-13 12:15] micwoj92 commented on #504
Why would you open second identical issue for this?

[2021-07-13 12:17] micwoj92 commented on #505
@Oleg-Chashko  Thanks for instructions.

@Alvin-od
Only reason why it wouldn't work is if you have 32 bit operating system in which case you need the following file. https://github.com/rcmaehl/WhyNotWin11/releases/latest/download/WhyNotWin11_x86.exe

You should tell more information, just "isn't opening" isn't telling much.

[2021-07-13 12:17] #505 closed

[2021-07-13 12:45] AndrewT1 opened #506 "The CPU Compatibility list is coming from the Systems Integrator page, not an actual requirement for Windows 11 support. See the same page for Windows 10 - https://docs.microsoft.com/en-us/windows-hardware/design/minimum/windows-processor-requirements Notice how there's a lot of missing CPUs that install Windows 10 just fine? Don't equate Systems Integrator requirements with OS requirements. These are ONLY to receive the "Windows Genuine Badge" for systems integrators - https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors"
The CPU Compatibility list is coming from the Systems Integrator page, not an actual requirement for Windows 11 support. See the same page for Windows 10 - https://docs.microsoft.com/en-us/windows-hardware/design/minimum/windows-processor-requirements Notice how there's a lot of missing CPUs that install Windows 10 just fine? Don't equate Systems Integrator requirements with OS requirements. These

[2021-07-13 12:56] AndrewT1 commented on #506
My CPU i5-6600 seems to have a compatibility probleme with your "Whynotwin11 latest version 2.3.1.0 = not eligible ..
I am a bit surprised because till the **05/18/2021** my CPU is eligible in that list .
Can you please check and update your application ?

[2021-07-13 12:56] #506 closed

[2021-07-13 13:58] Qazy147 commented on #116
Improved version with capability to save results into file.
[GetMaxResolution.au3.txt](https://github.com/rcmaehl/WhyNotWin11/files/6809350/GetMaxResolution.au3.txt)

[2021-07-13 20:41] tarbear123 opened #507 "Compile Script not showing up"
when i right click on the au3 i don't get Compile Script in the dropdown menu, plz help

[2021-07-13 20:43] micwoj92 commented on #507
Do you have autoit 3 installed?

[2021-07-13 20:51] tarbear123 commented on #507
no i'm installing it now

[2021-07-13 21:10] #507 closed

[2021-07-13 21:10] micwoj92 commented on #507
How else you wanted to compile it?

[2021-07-13 22:37] krystian3w commented on #495
My few files Notepad++ open in China 🇨🇳 encoding = "Big5".

[2021-07-13 22:52] krystian3w commented on #490
Similar source: https://www.fileformat.info/info/unicode/char/2713/index.htm

[2021-07-13 23:20] rcmaehl commented on #490
Yeah, likely a font issue: https://www.fileformat.info/info/unicode/char/2713/fontsupport.htm

[2021-07-14 07:59] Oleg-Chashko commented on #490
@rcmaehl
In order not to have problems with fonts. It is better to draw an icon. And show the icon instead of the font.

[2021-07-14 11:40] verdy-p opened #510 "TPM2 not completely detected"
Windows 11 wants a TPM2 on the PC. But even if it is present, and detected (in TPM.MSC), and active, and owned, and provisioned by the BIOS, it still alerts us that it is not working (notably for Bitlocker that fails to start on disks that were encrypted in Windows 10 with Bitlocker using the TPM2 chip).

This is a current bug of Windows 11 that affects:
- its new compatiblity check program (PC HE

[2021-07-14 13:00] tawissus opened #511 "Intel UHD 620 -> (1) compatible and (2) not compatible"
**Describe the bug**
<br>PC1: **Intel UHD 620** is **compatible** - Lenovo X390 Yoga - Driver 27.20.100.9168 (2021-01-08)
<br>PC2: **Intel UHD 620** is **not compatible** - Asus Zenbook 14 - Driver 27.20.100.9466 (2021-03-30)

**To Reproduce**
<br>Steps to reproduce the behavior:
1. Check PC1 / PC2
2. See error

**Expected behavior**
<br>Same device should get the same result

**Screenshots**
**De

[2021-07-14 13:02] rcmaehl commented on #511
Can you post the `Save All Information` file from dxdiag in both machines?

[2021-07-14 13:13] tawissus commented on #511
When calling dxdiag for the first time, some error messages appeared. Now the check is successful on both PCs.  Thank you!

[2021-07-14 13:13] #511 closed

[2021-07-14 13:20] rcmaehl commented on #510
Thankfully I'm not using the WMI TPM component by default as it required admin rights. To minimize program privilege I switched to a different detection method. The check is still there if running as an administrator, but I'll look into removing it since the TPM WMI module is broken.

[2021-07-14 15:24] Nits77 commented on #495
I have checked lang files (which have all an average size of 3-5KB) and it's not related them. The file format for 0410 (it) and 040C (fr) are both UTF-8.

The issue appears when opening the executable, which will cause the lang file to be "converted" to another file format. I can confirm your point @rcmaehl.

@bovirus If you are a real software support guy, you should know that (what i have said

[2021-07-14 15:38] bovirus commented on #495
@Nits77

Pelase check my first post.

I never say that the problem are in the source code and language file in repository.

The problem is the compiled exe file. And you confirmed this.

When you ran it the file is converted from UTF-8 to UTTF-16LE.
This is my initial report.

The problem is not mine.
It's about who answer to my first post without reading carefully my post.

[2021-07-14 17:30] Nits77 commented on #495
@bovirus

I checked it and you didn't said that you were talking about the `Langs` folder located in `AppData/Local` :

"Langs folder" doesn't mean `AppData/Local`, it can also be in the source code (which is also called "Langs"), it wasn't clear until your second post, that's why they answered you that files aren't UTF-16 as you described.

I know, and that's why i answered you that you didn't ch

[2021-07-14 17:57] micwoj92 commented on #495
Low because it doesn't affect any functionality. Should it even be issue at this point? And it probably does that for all the language files once you open wnw11 with specified language.

[2021-07-14 18:07] bovirus commented on #495
For me it's an issue.
If the original language files are UTF.8 the program shouldn't convert them in UTF16-LE.

[2021-07-14 18:58] Nits77 commented on #495
@micwoj92

Yes that's an issue. I agree with @bovirus that should not change the original file format.

I also agree with you for the low priority.

[2021-07-14 19:03] verdy-p commented on #510
Yes but for diagnosis, knowing that there are multiple TPMs or multiple PCR bna,ks in different profiles, each one with different hashing algorithm, and knowing which bank is selected by default in Windows 11 is important: it explains the bug (and why the PC-Heath compatiblity tool by Microsoft is wrong and currently gives false instructions to users.
Our machines, or BIOS, or TPM devices have no

[2021-07-14 22:49] verdy-p commented on #77
If an old tablet had only 2GB internal RAM that was not extensible at all, it made sense to use a 32-bit OS because it uses less memory than a 64-bit OS. The only way get additional performance would have been to use an external faster USB flash drive if the internal storage of the tablet was not already a flash drive/SSD, in order to get faster swap space.

32-bit OSes are now extremely old (even

[2021-07-14 23:41] verdy-p commented on #4
Even without high contrast, check the "Dark theme" in Windows 10 and 11. Beware of icons filled only with black and fully transparent elsewhere: they won't contrast correctly on the dark barkground of the side.

You should use thre default colors of the windows settings which defines a background color, a foreground color and color for emphasis which should contrast with both.
If you use static ba

[2021-07-15 00:12] namazso commented on #4
@verdy-p it seems to use default colors now most of the time, on my custom dark theme it no longer looks like in my previous comment, so thats an improvement:

![image](https://user-images.githubusercontent.com/8676443/125708441-af2d0726-451e-485a-95d0-02ad1c1bc55b.png)

[2021-07-15 00:24] rcmaehl commented on #4
Part of it is the fact that I have to deal with recoloring the background and recoloring the icon when I know nothing about GDI+. There's individual examples for both but not a single example that does both at the same time that I found in the language that I use. So I'm having to figure out how to have it draw how I want

[2021-07-15 00:40] verdy-p commented on #4
Namaszo: You're wrong, you almost can't see the icons on the left (social network links) and the right (information with the letter i encloded in a circle).

The left part should have a lighter contrasting panel to see the (black) social icons. And the right part using normal background and normal text, should have its (i) icons using the emphasis color (usually blue or green, but never black or w

[2021-07-15 01:37] namazso commented on #4
@verdy-p i just pointed out the improvement since the closing of the issue, i do know about the remaining problems.

[2021-07-15 04:36] Sambhav-Saraswat123 opened #513 "Icons not visible"
**The icons in for social media are not visible**
<br>When I updated to version 2.3.1.0 the social media icons are no more dynamic depending on the system color mode

**To Reproduce**
<br>Steps to reproduce the behavior:
1. Open the app
2. You will be able to see it on the left side

**Expected behavior**
<br>As it older version the icons are expected to be dynamic

**Screenshots**
<br>
![bug](htt

[2021-07-15 04:52] #513 closed

[2021-07-15 04:53] Sambhav-Saraswat123 opened #514 "Social media icons bug."
**The icons in for social media are not visible**
<br>When I updated to version 2.3.1.0 the social media icons are no more dynamic depending on the system color mode

**To Reproduce**
<br>Steps to reproduce the behavior:
1. Open the app
2. You will be able to see it on the left side

**Expected behavior**
<br>As it older version the icons are expected to be dynamic

**Screenshots**
<br>
![bug](htt

[2021-07-15 10:57] pklion commented on #402
I would like to know how the task is going if I may.

[2021-07-15 11:13] pklion opened #516 "Can't read all of the comment in Japanese"
**Describe the bug**
We can't read all of the comment the "architecture (CPU + OS)" in Japanese.

**To Reproduce**
Open the app in Japanese

**Expected behavior**
Resize comment to fit to the textbox size

**Screenshots**
![image](https://user-images.githubusercontent.com/78145811/125778572-89a5d6d5-09a3-406b-bcb6-07d6191a0b07.png)

**Desktop (please complete the following information):**
 - OS: [

[2021-07-15 12:42] PriitUring commented on #516
The Architecture (CPU + OS) text was recommended to be removed long ago according to latest 0000.lang file, to be just Architecture, but many language files translations still haven't been updated by developer or current translators.

You can edit and update the .lang file both locally and later in GitHub.

Here's little bit written about translations and also how to check translation locally:
htt

[2021-07-15 14:57] micwoj92 commented on #516
https://github.com/rcmaehl/WhyNotWin11/commit/c2d27f9ab07a8bd7fc6f6477bf8f7049bd537b31

[2021-07-15 14:57] #516 closed

[2021-07-15 16:17] SigmaTel71 opened #517 "Bug-in-a-feature: WDDM checks fail on non-Windows 10 operating systems"
**Describe the bug**
<br>GTX 1660 is detected as a videocard that does not support WDDM 2.0

**To Reproduce**
<br>Steps to reproduce the behavior:
1. Run a program on Windows 8.1.
2. Wait till the checks will be completed

**Expected behavior**
<br>WDDM version will be looked up online to get correct data or at least warning about false-positive version detection appears.

**Screenshots**
![image]

[2021-07-15 21:36] rcmaehl commented on #517
Yep. I'll see of I can start work on #58 here in a bit

[2021-07-15 21:39] micwoj92 commented on #517
duplicate #58, I'll close when I get on pc

W dniu czwartek, 15 lipca 2021 SigmaTel71 ***@***.***>
napisał(a):

[2021-07-15 23:33] #517 closed

[2021-07-16 17:39] micwoj92 commented on #223
Duplicate #58

[2021-07-16 17:39] #223 closed

[2021-07-16 17:57] JoKalliauer opened #518 "Does not check if already on Win11"
**Expected behavior**

Schould check if already on Win11

**Screenshots**

![WhyNotWin11](https://user-images.githubusercontent.com/15687581/125989390-4ce6de9b-0c9b-469a-8b04-3cf902b068be.png)

**Desktop (please complete the following information):**
 - OS: Windows 11 21H2 (Build 22000.71)

[2021-07-17 01:26] JohnLGalt commented on #518
You can not meet the full hardware requirements and still be running Windows 11, as the Insiders Dev channel builds will install on all sorts of machines - too low CPU, MBR (thus no secure boot) and TPM 1.2, too, have been reported as still allowing install to go forward.

Pretty sure any user who is using Windows 11 also already knows they are on it.

[2021-07-17 20:31] krystian3w commented on #518
We have pop-up: https://github.com/rcmaehl/WhyNotWin11/blob/1c72f3d55c757cabcd169caff91365312234241a/WhyNotWin11.au3#L77-L79

see `_Translate(@MUILang, "You're running the latest build!"))`.

[2021-07-18 00:30] rcmaehl commented on #518
Won't fix. See @krystian3w's reply above.

[2021-07-18 00:30] #518 closed

[2021-07-18 16:35] Anandakri opened #520 "exe v.2.3.1-Italian language file converterd in UTF-16 LE BOM"
**Describe the bug**
<br>A clear and concise description of what the bug is.

**To Reproduce**
<br>Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
<br>A clear and concise description of what you expected to happen.

**Screenshots**
<br>If applicable, add screenshots to help explain your problem.

**Desktop (please comp

[2021-07-18 16:44] Anandakri opened #521 "UI Display issue - Tick boxes not displaing corectly on v.2.3.1.0/2.3.1.1, was ok on 2.3.0.3"
**Describe the bug**
<br>A clear and concise description of what the bug is.

**To Reproduce**
<br>Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
<br>A clear and concise description of what you expected to happen.

**Screenshots**
<br>If applicable, add screenshots to help explain your problem.

**Desktop (please comp

[2021-07-18 17:03] rcmaehl commented on #521
Duplicate of #490

[2021-07-18 17:03] #521 closed

[2021-07-18 17:03] rcmaehl commented on #520
Duplicate of #495

[2021-07-18 17:03] #520 closed

[2021-07-20 21:17] micwoj92 commented on #325
There is nothing wrong with free and open source software having paid support. Many companies that produce FOSS use this strategy.

I have never owned MacBook nor used macOS and I don't like Apple.

[2021-07-21 08:07] #271 closed

[2021-07-23 17:47] #446 closed

[2021-07-23 17:48] #514 closed

[2021-07-23 17:56] #465 closed

[2021-07-24 09:58] Ronnier33 opened #527 "Got "False GB" RAM in a IPC with 2GB integrated RAM"
![捕获](https://user-images.githubusercontent.com/43734592/126864970-342f025e-e943-447c-bdbb-074adad1d004.PNG)
just like the snap.

[2021-07-24 15:04] JohnLGalt commented on #325
He said you had to pay **for support** for Windows 7, not pay for the OS itself.  Read it again.

[2021-07-24 16:26] rcmaehl commented on #527
I'll take a look but it might be a Windows 11 specific issue

[2021-07-24 17:24] troysjanda commented on #415
built in tpm is a chipset feature not a cpu feature

[2021-07-24 21:54] rcmaehl commented on #527
Please try https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip

[2021-07-24 22:13] AwlsomeAlex opened #529 "Secure Boot incorrectly detected"
Attached is the latest nightly build of WhyNotWin11. As you can see it reports that Secure Boot is enabled.
I can confirm from inside my BIOS that it is not enabled.
System Information and the Registry Check also confirm Secure Boot is not enabled.
Confirm-SecureBootUEFI also returns False.

![WNWIN11](https://user-images.githubusercontent.com/11639639/126882217-632f3dd6-19aa-48ea-baa3-6c605aaddcb

[2021-07-24 22:18] rcmaehl commented on #529
Will fix when I get back home.

[2021-07-24 23:03] rcmaehl commented on #529
Please wait a few minutes for CI to compile the dev build then download and run it.

[2021-07-24 23:04] rcmaehl commented on #490
Resolved.

[2021-07-24 23:04] #490 closed

[2021-07-24 23:08] rcmaehl commented on #452
@Scrotos That has been excluded. It appears the adapter is issuing the same DDI and Feature level as the physical hardware so hopefully it shouldn't have any issues with DirectX detection but I don't have a lot of citrix machines to verify this. Should work in the latest dev build

[2021-07-24 23:09] AwlsomeAlex commented on #529
@rmcpantoja Cool it says supported now. Quick question, is there solid Microsoft Documentation that says Secure Boot won't need to be enabled for Windows 11 GA? I know the requirements say "Secure Boot capable", but it sounds like poor languages as to how they're enforcing it.

[2021-07-24 23:09] #529 closed

[2021-07-24 23:11] rcmaehl commented on #529
Yeah, the requirements are still a mess

[2021-07-25 00:18] rcmaehl commented on #456
Check has been added, although I'll likely mark it as a warn instead of a failure as it's something that can be fixed with an install of Win 11 Pro instead of Home

[2021-07-25 00:33] rcmaehl commented on #116
@Qazy147 I'll look into getting this added into the advanced checks section I'll be adding.

Is
[0] = total number of monitors
[1] = number of bigger or same size monitors
[2] = number of smaller monitors
[3] = number of monitor with undetected parameters

Still the return array?

Can you modify it to

[0] = total number of monitors
[1] = number of compliant monitors
[2] = number of lower resoluti

[2021-07-25 01:34] Ronnier33 commented on #527
yeap, it is ok now.

[2021-07-25 01:34] #527 closed

[2021-07-25 04:44] #479 closed

[2021-07-25 04:52] rcmaehl commented on #50
This is probably the same issue that intel chips have where it reports current speed as max speed instead of max possible speed.

[2021-07-25 04:54] #406 closed

[2021-07-25 05:04] rcmaehl commented on #495
It appears this is an issue with WinAPI and AutoIt, not the script itself.

https://docs.microsoft.com/en-us/windows/apps/design/globalizing/use-utf8-code-page
https://stackoverflow.com/questions/504779/winapi-and-utf-8-support
https://www.reddit.com/r/cpp/comments/g7tkd7/state_of_utf8_support_on_windows/

I'm going to mark this as "won't fix"

[2021-07-25 05:04] #495 closed

[2021-07-25 05:06] rcmaehl commented on #456
Check code and disabled GUI elements have both been added. Advanced checks UI, Summary Screen, and Requirements Screen will ironed out be added around 2.5. Closing for now

[2021-07-25 05:06] #456 closed

[2021-07-25 05:43] rcmaehl commented on #388
Added 2.0 theme example. Just need to finish some coding on it when I have the chance.

[2021-07-25 05:43] #388 closed

[2021-07-25 05:43] #443 closed

[2021-07-25 08:39] speedy-pc opened #531 "testing release 2.3.2 - missing symbols of the result boxes"
missing symbols of the result boxes - I am using Windows 11 Pro 64 Bit - Bulild 21H1
In the last stable version 2.3.1 everything was ok.  Is it a mistake or is it on purpose?

![V2-3-2-0](https://user-images.githubusercontent.com/86987678/126892872-95c490dd-d078-4b37-b5e4-59626fc0bc23.JPG)

[2021-07-25 09:39] Qazy147 commented on #116
Yes, I can modify it, but there is one catch. What exactly mean "8 bits per color channel". For example my notebook can be set to 1920 x 1080 x 32 bits, but according EDID LCD panel has only 6 bits per color. So based on resolution which I can set it's compliant (assuming there is always 3 color channels), but according EDID it's not compliant.

[2021-07-25 13:23] rcmaehl commented on #531
It's intentional.

[2021-07-25 14:13] d1stru3t0r commented on #388
W11 won't have 32bit, but WhyNotWin11 recommends to reinstall and wipe disk to install 32bit W11

[2021-07-25 14:42] micwoj92 commented on #388
And how is any of this related to theme definition file?

[2021-07-25 15:49] Qazy147 commented on #116
First version
[_MonitorInfo.au3.txt](https://github.com/rcmaehl/WhyNotWin11/files/6874150/_MonitorInfo.au3.txt)

[2021-07-25 18:51] #531 closed

[2021-07-28 12:12] d1stru3t0r commented on #388
nothing, but where elsewhere can I report this? It's just a suggestion, not something important lmao

[2021-07-28 15:14] micwoj92 commented on #388
![image](https://user-images.githubusercontent.com/45581170/127348120-9787db61-88cc-4a88-9179-1a303c9a7bf7.png)

[2021-07-30 00:19] master3395 opened #541 "Direct X12 does not show as compatible"
**All Checks**
- Download and run the latest build https://nightly.link/rcmaehl/WhyNotWin11/workflows/wnw11/main/WNW11.zip
- Attach a picture of your WhyNotWin11 Results
- Attach required information based on the category:

**Architecture, CPU Compatibility, CPU Core Count, and CPU Frequency**
- Please run `taskmgr`, select Performance, then CPU, and attach a screenshot of the output
- Please run

[2021-07-30 00:32] rcmaehl commented on #541
I guess I need to clarify when you need to run the specific commands in the issue template.

For some reason your dxdiag isn't reporting feature or DDI levels:
![image](https://user-images.githubusercontent.com/716581/127582106-24517a3b-5bba-420d-adfc-9a3d10f131fa.png)

![image](https://user-images.githubusercontent.com/716581/127582139-26bdaf77-cb1c-4e4c-8abe-279662a3c8b5.png)

This will be impro

[2021-07-30 13:07] Soumyadeep98O opened #542 "Windows Defender detects Update 2.3.2 as Trojan!"
![Screenshot 2021-07-30 183324](https://user-images.githubusercontent.com/30073064/127657249-3d27cc67-1f98-4e3b-8572-2fee6e548849.png)
![Screenshot 2021-07-30 185822](https://user-images.githubusercontent.com/30073064/127659973-4a110958-6029-4404-9f7e-2e1e7424e948.png)

[2021-07-30 13:30] micwoj92 commented on #542
#49

[2021-07-30 13:30] #542 closed

[2021-07-30 15:54] noneofyourbusiness1415252 opened #543 "McAfee WebAdvisor thinks this is a virus"
**Describe the bug**
Apparently, WhyNotWin11 is a virus?? I know it isn't (or at least wasn't), because I installed it before and it worked perfectly, and McAfee didn't block it from installing.

**To Reproduce**
<br>Steps to reproduce the behavior:
1. Make sure that McAfee WebAdvisor is installed
1. Open Microsoft Edge
2. Install WhyNotWin11 2.3.2 from Releases page
3. Skip Defender smartscreen w

[2021-07-30 16:07] micwoj92 commented on #543
#49

[2021-07-30 16:07] #543 closed

[2021-08-03 19:34] Remzi1993 commented on #58
Or somehow use GPU-Z. I don't know if this program is open source and/or if they have API's to use. I wouldn't recommend reinventing the wheel. Clearly they found a workaround and/or already have a database/list of GPU's who support what and whatnot. My advice is to email them and maybe work together on this particular thing. See: https://www.techpowerup.com/contact/

[2021-08-04 03:40] rcmaehl opened #546 "Create NSIS Installer"
Create NSIS installer, including both MSI and EXE versions.

[2021-08-04 14:19] deus-e-x opened #548 "Regarding "Removed Checkmark and Cross from Pass/Fail""
Perhaps this design decision isn't that fortunate for people with certain sight restrictions like color-blindness or color vision deficiencies.

A better approach might be adding an option to toggle the display of the checkmarks/crosses, which defaults to enabled.

[2021-08-04 14:31] rcmaehl commented on #548
I'm looking into converting them to Icons in a future release

![image](https://user-images.githubusercontent.com/716581/128199464-77dcc772-1680-4c6e-a6f8-1167280da25f.png)

[2021-08-04 15:12] deus-e-x commented on #548
Thank you for your feedback. I think this issue thread has run its course, therefor I'm closing it.

[2021-08-04 15:12] #548 closed

[2021-08-04 17:05] PicoMitchell opened #549 "I think "Core(TM) i5+8400" and "Core(TM) i5+8500" should have "-" instead of "+""
Core(TM) i5+8400: https://github.com/rcmaehl/WhyNotWin11/blob/main/includes/SupportedProcessorsIntel.txt#L68
Core(TM) i5+8500: https://github.com/rcmaehl/WhyNotWin11/blob/main/includes/SupportedProcessorsIntel.txt#L69

I might be wrong about these specific models somehow, but I've never seen Intel Core CPU models with +'s instead of -'s like this.

This appears to be because of a mistake on Micros

[2021-08-04 17:13] #549 closed

[2021-08-04 19:43] #452 closed

[2021-08-06 05:38] Slacknote opened #553 "DirectX + WDDM2 detected and then not detected"
Bit odd aye? Did not change my hardware.
![v2 3 0 5](https://user-images.githubusercontent.com/88526498/128461243-f326388c-500d-4376-bd94-3c68bb26e82f.png)
![v2 3 1 0](https://user-images.githubusercontent.com/88526498/128461396-04820be8-6935-4354-ad32-2b3eef86bb17.png)
![DxDiag1](https://user-images.githubusercontent.com/88526498/128461419-983a07ea-07ba-4c6d-bdfd-f78f8f793e62.png)
![DxDiag2](http

[2021-08-06 09:58] micwoj92 commented on #553
That 2.3.1.0 is unofficial, unsupported and outdated version.

[2021-08-06 09:58] #553 closed

[2021-08-06 10:16] Slacknote commented on #553
Can you please look at the rest of my post?

[2021-08-06 10:30] micwoj92 commented on #553
I did.
Version 2.3.0.5 from **THIS** repo is okay.
Version 2.3.1.0 that was made by **someone else** shows it wrong.

Not only you are using old version, but also you don't understand that issues on this repo are not made for some unofficial fork.

[2021-08-06 10:31] micwoj92 commented on #553
Resolved, won't fix. Your problem is occurring in different software.

[2021-08-06 20:02] mmeyran commented on #77
Careful, don't mix up the EFI boot mode and the OS' boot mode - eventhough it's quite niche, a 64-bit Linux kernel is indeed able to boot off a 32-bit EFI boot loader; using a lean desktop environment (xfce, lxde etc.) and stuff like zram, 2Gb is enough for browsing and light desktop work.
It should still show up as incompatible for Windows 11 though - 32-bit UEFI and 64-bit Windows (any version,

[2021-08-06 23:58] verdy-p commented on #77
`Careful, don't mix up the EFI boot mode and the OS' boot mode`

No confusion. I spoke only about 32-bit OS, not about 32-bit EFI, can can load any OS (32-bit or EFI) but this is very unlikely: if you want to run a 64-bit OS, you need a 64-bit processor, and your machine must have a 64-bit EFI to support it.
A 64-bit BIOS (EFI or not) however can still boot a 32-bit or 64-bit OS. provided that the

[2021-08-10 19:04] goosnarrggh commented on #77
This is only part of the truth.
ANY UEFI with a CSM, either 64-bit or 32-bit, can use CSM mode to fall back to 16-bit real mode, and to provide 16-bit real-mode BIOS I/O calls with which the second-stage bootloader can use to access the peripherals until the OS has finished loading its own specialized device drivers. From there, a legacy BIOS boot might upgrade itself to either a 32-bit OS (if you

[2021-08-12 15:30] jesseinsf commented on #324
No need to display a detailed check as many people will not understand a word you are saying. Just have the word "Virtualization" added to the list. The detailed check should be don't like everything is in the list (In the background).

[2021-08-12 15:52] rcmaehl commented on #106
Hi Sysadmins,

This is pretty much good to go. I'm investigating some issues with the exit code, so I wouldn't use /silent without /format right now. CSV output detects existing files and will append. TXT output will always override. This may be changed in the future and feedback is much appreciated.

[2021-08-12 19:25] jgstew commented on #324
I would also add that DirectX 12 is either not required when running Win11 in HyperV or it is not being detected correctly. WhyNotWin11 says I'm not compatible due to DirectX 12 yet I'm actually running Win11 Insider.

[2021-08-12 19:29] rcmaehl commented on #324
Insider is a LOT less strict about requirements. Additionally, if dxdiag errors out or it's not reported correctly in the first place then this can occur. #58 should fix this

[2021-08-13 19:41] JohnLGalt commented on #324
Exactly.  I wish more people realized that.

[2021-08-13 21:08] jgstew commented on #324
My point was less about Insider, more about Hyper-V likely having lesser requirements for running Win11.

[2021-08-14 02:10] JohnLGalt commented on #324
I think you have to realize that you cannot really say that right now *because* the only builds we have are Insiders, which have lower requirements all around, so that could be why the requirements seem lower in Hyper-V, VBox, VMWare and other hypervisors.

[2021-08-15 00:59] verdy-p commented on #324
virtualization is almost required in Windows 11 now for many features (even if you don't want to install a guest OS in a VM using the Hyper-V host manager. It is used now for security (VBS, HVCI, MDAG...), or for containers, or for LXSS (which now allows installing any Linux environement with a Microsoft-provided kernel using paravirtualization to use full integration within Windows,but within the

[2021-08-20 08:09] My1 opened #563 "WNW11 says supported on Disabled Secure Boot rather than a note that it's disabled."
**For an Issue with ANY Check**
- Download and run the latest build

- Attach a picture of your WhyNotWin11 Results

![Neue Bitmap](https://user-images.githubusercontent.com/6696524/130201206-166d1bf9-31f7-441a-9f7c-ee06c72cc1fd.png)

- Attach required information based on the category:

**For an Issue with Secure Boot**
- Please run `reg query HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\S

[2021-08-20 08:16] micwoj92 commented on #563
This was discussed many times already
https://github.com/rcmaehl/WhyNotWin11/search?q=secureboot&type=issues

Microsoft official documentation still only says "Secure Boot capable" nothing about having it enabled
https://docs.microsoft.com/en-us/windows/whats-new/windows-11-requirements

[2021-08-20 08:16] #563 closed

[2021-08-20 08:21] My1 commented on #563
oh okay, but doesnt quite make sense for force support but not enabling it

[2021-08-21 13:18] AlexanderEDavis commented on #66
![image](https://user-images.githubusercontent.com/9097891/130323043-dd0b212b-2e83-4d49-bc3a-98bcdcb1ffeb.png)

They admit the program isn't theirs, they might be expecting you to buy the domain from them for a 'reasonable sum'...

[2021-08-21 13:22] AlexanderEDavis opened #564 "Export Results Feature"
A lot of my clients are wanting to use this tool so they can check if they need to replace anything. One of them tells me their's is not compatible but due to their lack of PC knowledge, I cannot view the results without being physically there and they are unable to screenshot (daft I know!)

It would be great if there was a button to export the results, whether that's an image or a text/pdf file.

[2021-08-21 13:36] micwoj92 commented on #564
Export results will be finished when https://github.com/rcmaehl/WhyNotWin11/issues/106 completes, hence I am marking this as duplicate

[2021-08-21 13:36] #564 closed

[2021-08-23 18:43] Ronsss opened #568 "Display CPU in "CPU Compatibility" box"
Nice work. Better than MS!
.
I see you already display the CPU type and graphics type at the bottom of the window.  Good.
It would be nice if you displayed the CPU in the "CPU Compatibility" output box.
You could do the same with Video support, put the video card in the DirectX output box.
OR
Put both of them at the top, rather than the bottom of the output list to make them easier to find.
.
As a

[2021-08-23 18:48] micwoj92 commented on #568
It was moved there because some names get really long
https://github.com/rcmaehl/WhyNotWin11/issues/147

[2021-08-23 18:48] #568 closed

[2021-08-23 18:52] Ronsss opened #569 "Display does not handle switching screen resolution"
**Describe the bug**

I have a dual monitor setup, HD 1920x1080 laptop monitor and 4K 3840x2160 resolutions.

App launched on laptop monitor fine (maybe displaying a little "high", separate issue).

Moved it to the 4K display, still OK.

Move it back to the Laptop display. NOT OK, "squashed" image
![image](https://user-images.githubusercontent.com/33688532/130501286-376c685e-4f4b-4575-a6c9-a3c0648

[2021-08-23 18:53] Ronsss commented on #569
Oops, that screen cap was not quite what I thought, here is a better one
![image](https://user-images.githubusercontent.com/33688532/130501841-bef86c75-f96e-42e6-8294-0b7a1f30cf64.png)

[2021-08-23 18:56] rcmaehl commented on #569
I'm thinking it somehow got resized but it shouldn't have done so. I'll look into this.

[2021-08-23 19:00] Ronsss opened #570 "Use Standard "Application Title Bar" layout"
**Describe the bug**
Dual monitor setup, laptop 1080p screen and 4K external monitor

App launches on "Main" screen

App is truncated, part of top and bottom of app window is displayed off screen:
![image](https://user-images.githubusercontent.com/33688532/130502474-6320ab72-8f34-46a3-b8cf-c1ec4cf9a92f.png)

I suspect that may be because I have move my Win taskbar to the top of the monitor. Window

[2021-08-23 19:10] Ronsss opened #571 "App does not have standard"
**Describe the bug**
App does not have the "standard" application window controls.
Normally they display by clicking on the app icon in the upper left corner of the application title bar, or by using <ALT><Spacebar> shortcut, ie

![image](https://user-images.githubusercontent.com/33688532/130503475-41ea6db7-1063-43af-aa82-147c6c2cd394.png)
.
I wanted to use the "Move" command to move the applicati

[2021-08-23 22:28] micwoj92 commented on #571
I'm pretty sure you can move it around

[2021-08-24 02:41] Ronsss commented on #571
My mistake.
.
I tried again. I found that if I click and drag on the very top of the application window, where the "application title bar" area is, I can drag it. But since it is the same color as body there is no visual indication that the title bar area is distinct from the body, like there is in most applications. The text you have at the top of the application is NOT the title.
.
I was "tricke

[2021-08-24 13:29] rcmaehl commented on #569
This should hopefully be patched per 4745d49. Please try it out when you have a chance

[2021-08-24 14:36] micwoj92 commented on #571
I am closing this because of this comment
https://github.com/rcmaehl/WhyNotWin11/issues/24#issuecomment-868949468
"I'll add in dragging in a later version. The Windows 10 title bars aren't the best and I'd like to have a slightly different experience than default. Many applications do this, Discord, Chrome, Telegram."

@rcmaehl Reopen if you changed your mind since when you wrote that comment

[2021-08-24 14:36] #571 closed

[2021-08-24 14:38] micwoj92 commented on #570
@Ronsss could you give another title to this issue? Application can be moved.

[2021-08-24 14:40] micwoj92 commented on #541
I am closing this because it is basically the same issue as #58

[2021-08-24 14:40] #541 closed

[2021-08-24 14:43] micwoj92 commented on #50
@rcmaehl is the cpu speed exact same issue as with intel x86_64 cpus? if yes then this issue should be closed, because the applications works/detects same on arm and on x86_64

[2021-08-24 18:16] Ronsss commented on #570
I'm going to close this issue, it has merged with another issue I raised, which I renamed today to: App does not have standard

[2021-08-24 18:16] #570 closed

[2021-08-24 22:19] NavyBill opened #572 "Veresion 2.3.2 will not download in Firefox latest version (91.0.2 - 64)"
**Describe the bug**
<br>Clicking either the 'latest version' or the 2.3.2 links will not produce a download.
**To Reproduce**
<br>Steps to reproduce the behavior:
1. Go to '2.3.2 web page'
2. Click on 'latest version' or '2.3.2' links
3. nothing happens

**Expected behavior**
<br>Expected to down load latest version

[2021-08-24 22:43] rcmaehl commented on #572
I'm unable to reproduce. Can you provide the exact page you're using?

[2021-08-25 06:02] DJB2-GitHub opened #574 "Have Direct X 12+ WDDM WDDM 2.7 but says not compliant"
Using WhyNotWin11 - My Dell Inspiron 5406 qualifies for all Win11 requirements except graphic card.
Checking PC with DxDiag it says I have  Direct X 12+ WDDM WDDM 2.7  which qualifies.

<img width="590" alt="Win11_fail" src="https://user-images.githubusercontent.com/67865230/130734956-79e9f55e-e425-46a7-b38d-f2c8663c5890.png">

[DxDiag.txt](https://github.com/rcmaehl/WhyNotWin11/files/7044031/DxDi

[2021-08-25 06:13] micwoj92 commented on #574
That 2.3.1.0 is unofficial, unsupported and outdated version.

[2021-08-25 06:13] #574 closed

[2021-08-27 20:22] tomdryan opened #578 "BSOD Upon Restart After Running WhyNotWin11"
I get a BSOD when I attempt to restart Windows after I run WhyNotWin11. The stop code is: UNEXPECTED_KERNEL_MODE_TRAP. Any ideas?

[2021-08-28 06:41] nguyenminh-phuc opened #580 "Windows 11 supports 7th-generation Xeon W-series"
Microsoft just updated their supported Intel processor list in their [website](https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors).

<html><body>

Manufacturer | Brand | Model
-- | -- | --
Intel® | Xeon® | W-2102
Intel® | Xeon® | W-2104
Intel® | Xeon® | W-2123
Intel® | Xeon® | W-2125
Intel® | Xeon® | W-2133
Intel® | Xeon® | W-2135
Intel

[2021-08-28 08:08] #580 closed

[2021-08-28 08:08] micwoj92 commented on #580
Added, feel free to open new issue if more are added in future.

[2021-08-28 12:31] aor2021 opened #581 "no directx12 but directx12 in dxdiag"
Hi guys so when i was going to check when i can run windows 11 it said no directX 12 was detected

My gpu is a GTX 1650 TI max-q laptop

When i checked at dxdiag i see that i have directx 12

![Screenshot (104)](https://user-images.githubusercontent.com/89691337/131217878-5d85f057-44da-402b-8896-e2cd19a72db9.png)

![Screenshot (106)](https://user-images.githubusercontent.com/89691337/131217901-f8b

[2021-08-28 12:39] aor2021 commented on #581
![Screenshot (109)](https://user-images.githubusercontent.com/89691337/131218140-5caea612-0f53-4483-af91-bc05ce9c4e31.png)

[2021-08-28 23:19] speedy-pc commented on #580
SupportedProcessorsIntel.txt = 583 Intel CPUs
Microsoft Website = 537 Intel CPUs

Where is the mistake?
Source: https://docs.microsoft.com/de-de/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors

[2021-08-28 23:20] micwoj92 commented on #580
Mistake is microsoft not being consistent, see my comment on the commit.

[2021-08-28 23:40] krystian3w commented on #572
Look like [ISP](# "Internet service provider") lost bits and this break page, now latest open 2.4.0.

https://github.com/rcmaehl/WhyNotWin11/releases/latest

[code]

[2021-08-28 23:47] micwoj92 commented on #572
Closing, this also isn't really something that we can control anyway.

[2021-08-28 23:47] #572 closed

[2021-08-28 23:52] krystian3w commented on #580
Possible test in new:

https://aka.ms/GetPCHealthCheckInsidersX64

S Mode (like by downloaded from MS Store) - https://aka.ms/GetPCHealthCheckInsidersMSIX

[2021-08-28 23:53] micwoj92 commented on #580
?

[2021-08-28 23:54] krystian3w commented on #580
If translated pages lays, maybe updated app have the most updated list.

[2021-08-28 23:55] micwoj92 commented on #580
Still, microsofts fault. App should use same list as documentation, doesn't matter if it's in German or in English

[2021-08-28 23:57] krystian3w commented on #580
Worse if this is pro bono publico, so who shuld be fired (not employeed MS fan or real employee).

[2021-08-29 00:03] micwoj92 commented on #580
As far as I know most (if not all) pages under docs.microsoft.com are on https://github.com/microsoftdocs organization, so feel free to find right repo and complain there.

[2021-08-29 00:33] Nocir opened #583 "Incorrect labeled 7th generation Intel processors"
In the "SupportedProcessorsIntel.txt" the Intel Core i9-7900X, i9-7920X, i9-7940X, i9-7960X and i9-7980XE are incorrectly labeled as i7 processors. So for example my i9-7980XE is now reported as unsupported.

Since WhyNotWin11 2.4.0.0

[2021-08-29 00:39] #583 closed

[2021-08-29 00:39] micwoj92 commented on #583
Fixed, blame  @dongle-the-gadget lol

[2021-08-29 03:32] Wandrer opened #584 "Windows Defender finds Trojan:Win32/Spursint.Q!cl in the executable"
Windows Defender finds "Trojan:Win32/Spursint.Q!cl" in the executable and in the zip file. The option to keep the file or report the falseflagging does not work. Windows Defender immediately deletes the file.

Malware-Clientversion:  4.18.2107.4
Module-Version: 1.1.18400.5
Antivirus-Version: 1.347.611.0
Antispyware-Version: 1.347.611.0
Windows-Version: Windows 10 Version 21H2 Build 19044.1165

[2021-08-29 06:32] ferryperry opened #585 "Xeon W-2123 is on the W11 support list"
Hi,

This processor is on the MS list: https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors

This might be a slight (yet a bit ;-) disturbing) oversight?

Hint: Virtualisation Support is turned off on the device, might that help with the issue?

Kind regards, Ferry
![whynotW11 Xeon W-2123](https://user-images.githubusercontent.com/5191161

[2021-08-29 08:51] micwoj92 commented on #584
Duplicate #49

[2021-08-29 08:51] #584 closed

[2021-08-29 09:06] micwoj92 commented on #585
It should be supported, could you download this file https://github.com/rcmaehl/WhyNotWin11/blob/main/includes/SupportedProcessorsIntel.txt and then place it in `%localappdata%\WhyNotWin11`? When asking about overwriting you should confirm.

[2021-08-29 14:00] luigicolo opened #587 "Now i9-9920X and i9-9940X can run win 11."
Hi! please check:
https://docs.microsoft.com/en-us/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors
Now i9-9920X and i9-9940X can run win 11.
In whynotwin11.exe v. 2.4.0.0 is still not included.
Thanks a lot for your attention.
Bye.
Luigi

[2021-08-29 18:30] #587 closed

[2021-08-29 18:30] micwoj92 commented on #587
Fixed, thanks for reporting.